
@section SharingTags
{
	<meta name="description" content="Discover where in the world people share your values in this 20 second survey!" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@Request.Url">
	<meta name="twitter:title" content="Which Countries Best Fit Your Values?">
	<meta name="twitter:description" content="Discover where in the world people share your values in this 20 second survey!">
	<meta name="twitter:creator" content="knoema.com">
	<meta name="twitter:image" content="@(Request.Url)images/share_fb2.jpg">

	<meta property="og:url" content="@Request.Url" />
	<meta property="og:title" content="Which Countries Best Fit Your Values?" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Discover where in the world people share your values in this 20 second survey!" />
	<meta property="og:image" content="@(Request.Url)images/share_fb2.jpg" />
}

<div class="content">

	<h1>Which Countries Best Fit Your Values?</h1>

	<div class="start-screen">
		<h2>There are six commonly recognized values held by people worldwide...</h2>

		<div class="scale-container">
			<ul class="scale">
				<li data-value="Family"><div class="circle family selected"></div>Family</li>
				<li data-value="Work" ><div class="circle work selected"></div>Work</li>
				<li data-value="Friends"><div class="circle friends selected"></div>Friends</li>
				<li data-value="Leisure time"><div class="circle leisure selected"></div>Leisure</li>
				<li data-value="Religion"><div class="circle religion selected"></div>Religion</li>
				<li data-value="Politics"><div class="circle politics selected"></div>Politics</li>
			</ul>
		</div>

		<h2>... and the relative importance of each varies from country to country.</h2>
		<h3>Discover where in the world people share your values in this 20 second survey.</h3>

		<div class="start-button">start!</div>

		<div class="logo"></div>
		<div class="based-on">Inspired by <a href="http://www.worldvaluessurvey.org/wvs.jsp" target="_blank">World Values Survey</a></div>
	</div>

	<div class="main-screen">
		<h2>Select each value in order of importance to you.</h2>

		<div class="scale-container">
			<ul class="scale">
				<li data-value="Family"><div class="circle family"></div>Family</li>
				<li data-value="Work" ><div class="circle work"></div>Work</li>
				<li data-value="Friends"><div class="circle friends"></div>Friends</li>
				<li data-value="Leisure time"><div class="circle leisure"></div>Leisure</li>
				<li data-value="Religion"><div class="circle religion"></div>Religion</li>
				<li data-value="Politics"><div class="circle politics"></div>Politics</li>
			</ul>
		</div>
	</div>

	<div class="finish-screen">
		<h2>Here is your ranking of six values:</h2>

		<div class="scale-container"></div>

		<div class="population-part">
			<h2>Your values are similar to the values of <span class="number"></span> million people around the world</h2>
				
			<div class="percent"></div>

			<h2>People in the following countries have the same values as you are</h2>
			<ul class="same-countries"></ul>
		</div>

		<h2 class="share-caption">Engage your friends and followers by sharing a link to this app!</h2>
				
		<a class="share-button facebook" data-channel="facebook" href="#">Share on Facebook</a>
		<a class="share-button twitter" data-channel="twitter" href="#">Share on Twitter</a>
		<a class="share-button gplus" data-channel="gplus" href="#">Share on Google+</a>
		<div class="retake-button" title="Retake"></div>		
		<a target="_blank" href="https://knoema.com/infographics/hxpxvpg/world-values-family-work-friends-leisure-religion-and-politics">
			<img class="viz-of-the-day" src="/images/viz-of-the-day.png" />
		</a>
		<a class="learn-more" target="_blank" href="https://knoema.com/infographics/hxpxvpg/world-values-family-work-friends-leisure-religion-and-politics">Learn more</a>
		<div class="logo"></div>
		<div class="based-on">Inspired by <a href="http://www.worldvaluessurvey.org/wvs.jsp" target="_blank">World Values Survey</a></div>
	</div>

	<div class="result-screen">
		<img class="background" src="/Images/bg.jpg"/>
		<div class="result">
			<p class="title">The most important things in my life are</p>

			<ul class="scale-result"></ul>
			<div class="flags">
				<p class="caption">People in the following countries have the same values as me</p>
				<ul class="same-countries"></ul>
			</div>
			<div class="uniq">
				<p>My responses are unique. My ranking of these global values does not match the 24 most common rankings.</p>
			</div>

			<p class="title2">Which Countries Best Fit Your Values?</p>

			<div class="start-button">start!</div>
		</div>
	</div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57ea7d8834985403"></script>
