<div class="content">

	<h1>Which Countries Best Fit Your Values?</h1>

	<div class="start-screen">
		<h2>There are six commonly recognized values held by people worldwide...</h2>

		<div class="scale-container">
			<ul class="scale">
				<li data-value="Family"><div class="circle family selected"></div>Family</li>
				<li data-value="Work" ><div class="circle work selected"></div>Work</li>
				<li data-value="Friends"><div class="circle friends selected"></div>Friends</li>
				<li data-value="Leisure time"><div class="circle leisure selected"></div>Leisure</li>
				<li data-value="Religion"><div class="circle religion selected"></div>Religion</li>
				<li data-value="Politics"><div class="circle politics selected"></div>Politics</li>
			</ul>
		</div>

		<h2>... and the relative importance of each varies from country to country.</h2>
		<h3>Discover where in the world people share your values in this 20 second survey.</h3>

		<div class="start-button">start!</div>
	</div>

	<div class="main-screen">
		<h2>Select each value in order of importance to you.</h2>

		<div class="scale-container">
			<ul class="scale">
				<li data-value="Family"><div class="circle family"></div>Family</li>
				<li data-value="Work" ><div class="circle work"></div>Work</li>
				<li data-value="Friends"><div class="circle friends"></div>Friends</li>
				<li data-value="Leisure time"><div class="circle leisure"></div>Leisure</li>
				<li data-value="Religion"><div class="circle religion"></div>Religion</li>
				<li data-value="Politics"><div class="circle politics"></div>Politics</li>
			</ul>
		</div>
	</div>

	<div class="finish-screen">
		<h2>Here is your ranking of six values:</h2>

		<div class="scale-container"></div>

		<div class="population-part">
			<h2>Your values are similar to the values of <span class="number"></span> million people around the world</h2>
				
			<div class="percent"></div>

			<h2>People in the following countries have the same values as you are</h2>
			<ul class="same-countries"></ul>
		</div>

		<div class="share-content"></div>

		<h2 class="share-caption">Share your results to view a responses of other users from around the world!</h2>
				
		<a class="share-button facebook" data-channel="facebook" href="#">Share on Facebook</a>
		<a class="share-button twitter" data-channel="twitter" href="#">Share on Twitter</a>
		<a class="share-button gplus" data-channel="gplus" href="#">Share on Google+</a>

	</div>

	<div class="result-screen">
		<img class="background" src="/Images/bg.jpg"/>
		<div class="result">
			<p class="title">The most important things in my life are</p>

			<ul class="scale"></ul>
			<div class="flags">
				<p class="caption">People in the following countries have the same values as me</p>
				<ul class="same-countries"></ul>
			</div>

			<p class="title2">Which Countries Best Fit Your Values?</p>

			<div class="start-button">start!</div>
		</div>
	</div>
</div>