body {
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4 {
    text-align: center;
    font-weight: bold;
}

header {
    background-image: url('img/head.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    height: 120px;
    color: white;
    text-align: center;
    margin: 0 auto;
}
header span {
    line-height: 2.3em;
    font-size: 2.3em;
    font-weight: bold;
}

section {
    text-align: center;
}

.form-holder {
    border: 1px solid #a4e0ff;
    padding: 10px;
}

.form {
    display: flex;
}
.form-section {
    width: 25%;
}
.input {
    border: 1px solid #a4e0ff;
    height: 36px;
    width: 69px;
    background-color: blue;
    display: inline-block;
}

.label {
    width: 100px;
    float: left;
}

.field {
    text-align: right;
    line-height: 36px;
    width: 49px;
    display: inline-block;
    background-color: green;
}

.controls {
    float: right;
}

.control {
    cursor: pointer;
    color: #4a4a4a;
}

.control:hover {
    color: gray;
}

.content {
    width: 910px;
    margin: 0 auto;
}

.brexit-table-2 {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.button {
    padding: 20px 50px;
    color: white;
    border: 0;
    cursor: pointer;
    margin: 50px 0;
}

.button:focus {
    outline: none;
}
.change-inputs {
    background-color: #db1a1a;
}
.change-inputs:hover {
    background-color: #c00a0a;
}
.re-estimate {
    background-color: #09a709;
}
.re-estimate:hover {
    background-color: #047b04;
}

table.brexit-table {
    background-image: url('img/tablebg1.png');
    background-repeat: repeat;
    background-size: cover;
    width: 910px;
    height: 640px;
    border-collapse: collapse;
    /*border-color: red;*/
}

table.brexit-table thead tr {
    height: 100px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    /*background-color: lime;*/
    /*opacity: 0.5;*/
}

table.brexit-table tbody tr:nth-child(odd) {
    /*background-color: red;*/
    /*opacity: 0.3;*/
}
table.brexit-table tbody tr:nth-child(even) {
    /*background-color: black;*/
    /*opacity: 0.3;*/
}

table.brexit-table tbody tr {
    height: 30px;
}

table.brexit-table tbody tr.england {
    /*background-color: gold;*/
    /*opacity: 0.5;*/
    height: 40px;
}

tr.level-1 td:first-child span {
    margin-left: 5px;
    font-weight: bold;
}

tr.level-2 td:first-child span {
    margin-left: 25px;
}

.map-section {
    height: 550px;
}

.map-holder {
    height: 500px;
    width: 455px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
}

.map-holder .map {
    display: block;
    height: 500px;
    width: 470px;
}

.map-tooltip {
    position: absolute;
    display: block;
    z-index: 1500;
}

.map-tooltip-cont {
    padding: 2px 5px 2px 5px;
    background-color: white;
    font-size: 10pt;
    color: black;
    -moz-box-shadow: 0 0 5px 0 #E1E1E1;
    -webkit-box-shadow: 0 0 5px 0 #E1E1E1;
    box-shadow: 0 0 5px 0 #E1E1E1;
    overflow: hidden;
}

.map-simple-legend {
    position: relative;
}

.map-zoomin, .map-zoomout {
    position: relative;
    top: -520px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {
    table.brexit-table {
        background-image: url('img/tablebg1-x2.png');
    }
    header {
        background-image: url('img/head-x2.jpg');
    }
}