html, body
{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#source-link
{
	color: #DAF0D6;
	font-size: 15pt;
	margin: 7px 0 0 15px;
}

#top-bar
{
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #5ea835;
}

	#top-bar > img
	{
		width: 53px;
		margin-top: -5px;
		margin-left: 25px;
	}

	#top-bar > .title
	{
		display: inline-block;
		font-size: 21px;
		font-weight: 500;
		color: #fff;
		margin-left: 20px;
		height: 70px;
		line-height: 70px;
	}

	#top-bar > .tab
	{
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		height: 70px;
		line-height: 70px;
		text-decoration: none;
		color: #fff;
		padding: 0 15px;
		cursor: pointer;
		position: relative;
		top: -2px;
	}

		#top-bar > .tab.questionnaire
		{
			margin-left: 112px;
		}

		#top-bar > .tab.active
		{
			background-color: #0a5209;
		}

.tab2
{
	display: none;
	position: absolute;
	top: 70px;
	left: 0px;
	right: 0px;
	background-color: #fff;
}

	.tab2 .candidate
	{
		background-color: #fff;
		width: 1050px;
		margin: auto;
		border-radius: 3px;
	}



	.tab2 #edgar
	{
		margin-top: 10px;
	}

		.tab2 #edgar .pic .img
		{
			background-image: url('../img/can-Edgar-Lungu.png');
			margin-top: 10px;
		}

		.tab2 #edgar .rating div:first-child .vote-percent
		{
			width: 412px;
		}

	.tab2 #hakainde .pic .img
	{
		background-image: url('/img/can-Hakainde-Hichilema.png');
		margin-top: 10px;
	}

	.tab2 #hakainde .rating div:first-child .vote-percent
	{
		width: 360px;
	}

	.tab2 #hakainde .rating div:last-child .vote-percent
	{
		width: 375px;
	}

	.tab2 #tilyenji .pic .img
	{
		background-image: url('../img/can-Tilyenji-Kaunda.png');
		margin-top: 10px;
	}

	.tab2 #tilyenji .rating div:first-child .vote-percent
	{
		width: 60px;
	}

	.tab2 #tilyenji .rating div:last-child .vote-percent
	{
		width: 30px;
	}

	.tab2 #edith .pic .img
	{
		background-image: url('../img/can-Edith-Nawakwi.png');
		margin-top: 10px;
	}

	.tab2 #edith .rating div:first-child .vote-percent
	{
		width: 45px;
	}

	.tab2 #edith .rating div:last-child .vote-percent
	{
		width: 55px;
	}

	.tab2 #saviour .pic .img
	{
		background-image: url('../img/can-Saviour-Chishimba.png');
		margin-top: 10px;
	}

	.tab2 #saviour .rating div:first-child .vote-percent
	{
		width: 35px;
	}

	.tab2 #saviour .rating div:last-child .vote-percent
	{
		width: 0px;
	}

	.tab2 #peter .pic .img
	{
		background-image: url('../img/can-Peter-Sinkamba.png');
		margin-top: 10px;
	}

	.tab2 #peter .rating div:first-child .vote-percent
	{
		width: 25px;
	}

	.tab2 #peter .rating div:last-child .vote-percent
	{
		width: 15px;
	}

	.tab2 #wynter .pic .img
	{
		background-image: url('../img/can-Wynter-Kabimba.png');
		margin-top: 10px;
	}

	.tab2 #wynter .rating div:first-child .vote-percent
	{
		width: 20px;
	}

	.tab2 #wynter .rating div:last-child .vote-percent
	{
		width: 0px;
	}

	.tab2 #andy .pic .img
	{
		background-image: url('../img/can-Andy-Banda.png');
		margin-top: 10px;
	}

	.tab2 #andy .rating div:first-child .vote-percent
	{
		width: 15px;
	}

	.tab2 #andy .rating div:last-child .vote-percent
	{
		width: 0px;
	}

	.tab2 #maxwell .pic .img
	{
		background-image: url('../img/can-Maxwell-Mwamba.png');
		margin-top: 10px;
	}

	.tab2 #maxwell .rating div:first-child .vote-percent
	{
		width: 2px;
	}

	.tab2 #maxwell .rating div:last-child .vote-percent
	{
		width: 0px;
	}

	.tab2 .candidate:nth-child(odd)
	{
		background-color: #f5f5f5;
	}

	.tab2 .candidate .pic, .tab2 .candidate .rating, .tab2 .candidate .view
	{
		display: inline-block;
	}

	.tab2 .candidate .pic
	{
		padding: 10px;
		width: 300px;
	}

		.tab2 .candidate .pic .img
		{
			display: inline-block;
			height: 60px;
			width: 60px;
			vertical-align: text-bottom;
		}

		.tab2 .candidate .pic .name
		{
			display: inline-block;
			font: 500 16px 'Roboto', sans-serif;
			color: #0a5209;
			position: relative;
			top: -12px;
			margin-left: 15px;
		}

			.tab2 .candidate .pic .name span:last-child
			{
				color: #5ea835;
				display: block;
			}

	.tab2 .candidate .rating
	{
		display: inline-block;
		position: relative;
		top: -12px;
	}

		.tab2 .candidate .rating div
		{
			display: block;
		}

			.tab2 .candidate .rating div .year, .tab2 .candidate .rating div .value
			{
				display: inline-block;
				font-size: 12px;
			}

			.tab2 .candidate .rating div:first-child .vote-percent
			{
				display: inline-block;
				width: 400px;
				background-color: #075f57;
				height: 10px;
				margin-left: 10px;
			}

			.tab2 .candidate .rating div:last-child .vote-percent
			{
				display: inline-block;
				width: 400px;
				background-color: #b9619e;
				height: 10px;
				margin-left: 10px;
			}

			.tab2 .candidate .rating div .value
			{
				margin-left: 15px;
			}

	.tab2 .candidate .dnp
	{
		margin-left: 0 !important;
		color: #b9619e;
	}

	.tab2 .candidate .view
	{
		width: 14px;
		height: 23px;
		background: #5ea835 url('../img/arrow.png') center center no-repeat;
		border-radius: 3px;
		float: right;
		width: 75px;
		height: 40px;
		margin-top: 25px;
		margin-right: 20px;
		cursor: pointer;
	}

	.tab2 .timeline, .tab3 .timeline
	{
		position: relative !important;
		top: 50px;
		width: 1050px;
		margin: auto;
	}


.tab3
{
	display: none;
	width: 1050px;
	margin: auto;
	margin-top: 70px;
}

	.tab3 .timeline
	{
		top: 0;
	}

	.tab3 .score
	{
		border-bottom: 1px solid #5ea835;
		color: #0a5209;
		padding-bottom: 20px;
		height: 430px;
	}

	.tab3 .head
	{
		height: 80px;
	}

		.tab3 .head .back
		{
			display: inline-block;
			float: left;
			color: #5ea835;
			margin-left: 30px;
			font-size: 10.5pt;
			text-transform: uppercase;
			margin-top: 25px;
			text-decoration: none;
		}

			.tab3 .head .back i
			{
				color: #5ea835;
				font-size: 18pt;
				font-weight: bold;
				padding-right: 10px;
				vertical-align: sub;
			}

		.tab3 .head .pic
		{
			width: 300px;
			display: inline-block;
			margin-left: 360px;
		}

			.tab3 .head .pic .img
			{
				display: inline-block;
				height: 60px;
				width: 60px;
				vertical-align: text-bottom;
				margin-top: 10px;
			}

		.tab3 .head.edgar .pic .img
		{
			background-image: url('../img/can-Edgar-Lungu.png');
		}

		.tab3 .head.hakainde .pic .img
		{
			background-image: url('../img/can-Hakainde-Hichilema.png');
		}

		.tab3 .head.tilyenji .pic .img
		{
			background-image: url('../img/can-Tilyenji-Kaunda.png');
		}

		.tab3 .head.edith .pic .img
		{
			background-image: url('../img/can-Edith-Nawakwi.png');
		}

		.tab3 .head.saviour .pic .img
		{
			background-image: url('../img/can-Saviour-Chishimba.png');
		}

		.tab3 .head.peter .pic .img
		{
			background-image: url('../img/can-Peter-Sinkamba .png');
		}

		.tab3 .head.wynter .pic .img
		{
			background-image: url('../img/can-Wynter-Kabimba.png');
		}

		.tab3 .head.andy .pic .img
		{
			background-image: url('../img/can-Andy-Banda .png');
		}

		.tab3 .head.maxwell .pic .img
		{
			background-image: url('../img/can-Maxwell-Mwamba .png');
		}

		.tab3 .head .pic .name
		{
			display: inline-block;
			font: 500 16px 'Roboto', sans-serif;
			color: #0a5209;
			position: relative;
			top: -12px;
			margin-left: 15px;
		}



			.tab3 .head .pic .name span:last-child
			{
				color: #5ea835;
				display: block;
			}


	.tab3 .score .header
	{
		text-align: center;
		font-size: 24px;
		color: #0a5209;
		padding: 20px 0px;
	}

	.tab3 .map
	{
		float: left;
		height: 475px;
		width: 490px;
		margin-left: 20px;
		padding-right: 20px;
		margin-top: -80px;
	}

	.tab3 .districts .map
	{
		position: relative;
		left: -48px;
	}

	.tab3 .constituencey .map
	{
		position: relative;
		left: -108px;
	}

	.tab3 .constituencey .header, .tab3 .districts .header
	{
		position: relative;
		left: -275px;
	}

	.tab3 .chart
	{
		float: right;
		height: 330px;
		width: 540px;
		border-left: 1px solid #5ea835;
	}

	.tab3 path
	{
		pointer-events: all;
		stroke: #0a5209;
		cursor: pointer;
	}

		.tab3 path.selected
		{
			fill: #5ea835;
			cursor: pointer;
		}

		.tab3 path:hover
		{
			fill: #5ea835;
			cursor: pointer;
		}

		.tab3 path.active
		{
			fill: #0a5209;
		}

			.tab3 path.active:hover
			{
				fill: #0a5209;
			}


	/*#region chart*/
	.tab3 .chart .candidate
	{
	}

		.tab3 .chart .candidate .pic, .tab3 .chart .candidate .rating
		{
			display: inline-block;
		}

		.tab3 .chart .candidate .pic
		{
			padding: 0 5px;
			font-size: 10.5pt;
			width: 195px;
		}

			.tab3 .chart .candidate .pic .img
			{
				display: inline-block;
				padding: 0 10px;
			}

			.tab3 .chart .candidate .pic .name
			{
				display: inline-block;
				font: 500 16px 'Roboto', sans-serif;
				color: #0a5209;
				margin-left: 5px;
			}



		.tab3 .chart .candidate .rating
		{
			display: inline-block;
			position: relative;
			top: 5px;
		}

			.tab3 .chart .candidate .rating div
			{
				display: block;
				height: 10px;
			}

				.tab3 .chart .candidate .rating div .year, .tab3 .chart .candidate .rating div .value
				{
					display: inline-block;
					font-size: 8px;
				}

				.tab3 .chart .candidate .rating div:first-child .vote-percent
				{
					display: inline-block;
					width: 260px;
					background-color: #075f57;
					height: 5px;
					margin-left: 10px;
				}

				.tab3 .chart .candidate .rating div:last-child .vote-percent
				{
					display: inline-block;
					width: 260px;
					background-color: #b9619e;
					height: 5px;
					margin-left: 10px;
				}

				.tab3 .chart .candidate .rating div .value
				{
					margin-left: 15px;
				}

		.tab3 .chart .candidate .dnp
		{
			margin-left: 0 !important;
			color: #b9619e;
		}


		.tab3 .chart .candidate.edgar .rating div:first-child .vote-percent
		{
			width: 270px;
		}

		.tab3 .chart .candidate.hakainde .rating div:first-child .vote-percent
		{
			width: 230px;
		}

		.tab3 .chart .candidate.hakainde .rating div:last-child .vote-percent
		{
			width: 240px;
		}

		.tab3 .chart .candidate.tilyenji .rating div:first-child .vote-percent
		{
			width: 30px;
		}

		.tab3 .chart .candidate.tilyenji .rating div:last-child .vote-percent
		{
			width: 15px;
		}

		.tab3 .chart .candidate.edith .rating div:first-child .vote-percent
		{
			width: 25px;
		}

		.tab3 .chart .candidate.edith .rating div:last-child .vote-percent
		{
			width: 30px;
		}

		.tab3 .chart .candidate.saviour .rating div:first-child .vote-percent
		{
			width: 18px;
		}

		.tab3 .chart .candidate.saviour .rating div:last-child .vote-percent
		{
			width: 0px;
		}

		.tab3 .chart .candidate.peter .rating div:first-child .vote-percent
		{
			width: 13px;
		}

		.tab3 .chart .candidate.peter .rating div:last-child .vote-percent
		{
			width: 8px;
		}

		.tab3 .chart .candidate.wynter .rating div:first-child .vote-percent
		{
			width: 10px;
		}

		.tab3 .chart .candidate.wynter .rating div:last-child .vote-percent
		{
			width: 0px;
		}

		.tab3 .chart .candidate.andy .rating div:first-child .vote-percent
		{
			width: 8px;
		}

		.tab3 .chart .candidate.andy .rating div:last-child .vote-percent
		{
			width: 0px;
		}

		.tab3 .chart .candidate.maxwell .rating div:first-child .vote-percent
		{
			width: 2px;
		}

		.tab3 .chart .candidate.maxwell .rating div:last-child .vote-percent
		{
			width: 0px;
		}



/*#endregion*/



#left-sidebar
{
	color: #006233;
	position: absolute;
	box-sizing: border-box;
	padding: 20px;
	left: 0;
	top: 70px;
	bottom: 0;
	width: 617px;
	background-color: #DAF0D6;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.pools-wrapper
{
	display: inline-block;
	float: left;
	margin-right: 10px;
}

	.pools-wrapper .bootstrap-select
	{
		width: 100px !important;
	}

#statistics
{
	overflow-y: scroll;
	margin: 0 -20px 0 0;
}


#left-sidebar > .questionnaire
{
	color: #58AC56;
	float: right;
	margin: -10px 10px 0 0;
}

#left-sidebar .vote
{
	position: relative;
	height: 60px;
	background-color: #58ac56;
	color: white;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

	#left-sidebar .vote > .sr-label
	{
		display: inline-block;
		margin-right: 20px;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
	}

	#left-sidebar .vote > .value
	{
		width: 105px;
		line-height: 40px;
		margin-right: 10px;
		font-size: 25px;
		font-weight: 500;
		text-align: left;
	}

	#left-sidebar .vote > .percent
	{
		font-size: 20px;
		margin-left: 10px;
	}

#showCountrySummary
{
	height: 100%;
	background-color: #03591E;
	border-color: #03591E;
	color: white;
	text-transform: uppercase;
}

#left-sidebar .results
{
	margin-top: 6px;
	margin-bottom: 15px;
	padding-right: 10px;
	cursor: pointer;
}

	#left-sidebar .results > .sr-label
	{
		display: block;
		color: #58AC56;
		padding-bottom: 3px;
		text-transform: none;
	}

	#left-sidebar .results > .sr-progress
	{
		position: relative;
		height: 11px;
		background-color: #9Fc2B4;
	}

		#left-sidebar .results > .sr-progress > .bar
		{
			position: relative;
			float: left;
			height: 100%;
			box-sizing: border-box;
		}

			#left-sidebar .results > .sr-progress > .bar.active
			{
				border: 1px solid black;
			}

			#left-sidebar .results > .sr-progress > .bar.green
			{
				background-color: #036572;
			}

			#left-sidebar .results > .sr-progress > .bar.pink
			{
				background-color: #B668AD;
			}

			#left-sidebar .results > .sr-progress > .bar.lightgreen
			{
				background-color: #028651;
			}

		#left-sidebar .results > .sr-progress .value
		{
			position: absolute;
			top: 100%;
			font-size: 12px;
		}

		#left-sidebar .results > .sr-progress > .value
		{
			right: 0;
		}

		#left-sidebar .results > .sr-progress .bar > .value
		{
			left: 0;
		}

	#left-sidebar .results > .values
	{
		font-size: 11px;
		font-weight: 500;
	}

	#left-sidebar .results.white
	{
		position: relative;
		background-color: white;
		margin: 6px 0px 5px -20px;
		padding: 5px 10px 5px 20px;
		font-weight: bold;
		z-index: 1;
	}
		/*#left-sidebar .results.white::after {
	position: absolute;
	left: 100%;
	top: 0;
	height: 100%;
	width: 13px;
	content: " ";
	background: url(../img/corner.png) center center no-repeat;
	background-position-x: -1px;
	background-size: 13px 100%;
}*/
		#left-sidebar .results.white > .sr-label
		{
			color: #000;
			font-size: 15px;
		}

		#left-sidebar .results.white > .values
		{
			font-size: 13px;
		}

		#left-sidebar .results.white > .sr-progress
		{
			height: 14px;
		}

#content
{
	position: absolute;
	left: 617px;
	right: 0;
	top: 70px;
	bottom: 0;
}

#map
{
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 40px;
}

#timeline
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #74B475;
}

	#timeline .item
	{
		float: left;
		height: 100%;
		margin: 0;
		text-align: center;
		padding-top: 6px;
		box-sizing: border-box;
	}

		#timeline .item:not(.disabled)
		{
			cursor: pointer;
		}

		#timeline .item.active
		{
			background-color: #358B38;
		}

		#timeline .item.disabled
		{
			color: #687459;
		}

		#timeline .item > .day
		{
			font-size: 20px;
		}

		#timeline .item > .month
		{
			font-size: 13px;
		}

.passport-popup
{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.passport__content
{
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	padding: 20px;
	background-color: #fff;
	overflow: auto;
}

.passport__close
{
	position: absolute;
	right: 30px;
	top: 30px;
	width: 40px;
	height: 40px;
	background: #fff url(../img/icon_close.png) no-repeat center center;
	cursor: pointer;
	z-index: 1;
	border-radius: 50%;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

	.passport__close:hover
	{
		background-image: url(../img/icon_close_hover.png);
	}

.passport__content .nav-tabs
{
	font-weight: bold;
	text-transform: uppercase;
	font-family: Roboto;
}

.passport__content .tab-content
{
	position: absolute;
	bottom: 20px;
	top: 98px;
	right: 20px;
	left: 20px;
}

.passport__content .tab-pane
{
	width: 100%;
	height: 100%;
}

.passport__content iframe
{
	display: inline-block;
	border: none;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.passport__content .title
{
	text-transform: uppercase;
	margin-top: 0;
	font-size: 24px;
	font-family: Roboto;
}

#legend
{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 5px 0 16px 0;
	font-family: Roboto;
	font-size: 12px;
}

	#legend > .color-item
	{
		float: left;
		width: 9.090909090909091%;
		height: 10px;
	}

#legend_low
{
	position: absolute;
	top: 100%;
	left: 0;
}

#legend_medium
{
	position: absolute;
	top: 100%;
	left: 50%;
	width: 30px;
	margin-left: -7px;
}

#legend_high
{
	position: absolute;
	top: 100%;
	right: 0;
}

#statistics.error
{
	position: absolute;
	top: 50%;
	bottom: 0;
	text-align: center;
	right: 0;
	left: 0;
}

#population-select
{
	font-size: 12pt;
	width: 250px;
}
