body
{
	margin: 0;
	background: url(../Images/bg.jpg) no-repeat;
	background-size: cover;
}

.content
{
	width: 940px;
	margin: 50px auto;
	text-align: center;
	font-family: Roboto;
	color: #fff;
}

.start-screen
{
}
.start-button
{
	padding: 20px 50px;
	text-transform: uppercase;
	background-color: #54d658;
	width: 150px;
	margin: 50px auto;
	font-size: 22pt;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	border-radius: 5px;
}
.main-screen
{
	display:none;
}
.finish-screen
{
	display: none;
}

h1
{
	margin: 50px 0;
	font-size: 36pt;
}

h2
{
	font-size: 15pt;
	font-weight: normal;
}

h3
{
	font-size: 18pt;
	font-weight: normal;
	margin-top: 90px;
}

ul.scale
{
	margin: 50px 0;
	padding: 0;
}
ul.scale li
{
	display: inline-block;
	margin: 10px 15px;
	list-style-type: none;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	cursor: pointer;
}
ul.scale li .circle
{
	display: block;
	border-radius: 50%;

	margin: 16px;
	height: 80px;
	width: 80px;
	background-color: #d9d9d9;

	border: 2px solid #fff;
}
ul.scale li .circle.family.selected
{
	background-color: #e01e5a;
}
ul.scale li .circle.work.selected
{
	background-color: #c06f32;
}
ul.scale li .circle.friends.selected
{
	background-color: #5329bd;
}
ul.scale li .circle.leisure.selected
{
	background-color: #22b45a;
}
ul.scale li .circle.religion.selected
{
	background-color: #cbcb05;
}
ul.scale li .circle.politics.selected
{
	background-color: #2fa0d9;
}
ul.scale li .circle.selected.n0
{
	margin: 1px;
	height: 110px;
	width: 110px;
}
ul.scale li .circle.selected.n1
{
	margin: 6px;
	height: 100px;
	width: 100px;
}
ul.scale li .circle.selected.n2
{
	margin: 11px;
	height: 90px;
	width: 90px;
}
ul.scale li .circle.selected.n3
{
	margin: 16px;
	height: 80px;
	width: 80px;
}
ul.scale li .circle.selected.n4
{
	margin: 21px;
	height: 70px;
	width: 70px;
}
ul.scale li .circle.selected.n5
{
	margin: 26px;
	height: 60px;
	width: 60px;
}

.number
{
	font-weight: bold;
	font-size: 17pt;
}

.percent
{
	height: 150px;
	width: 250px;
	margin: 20px auto;
}


ul.same-countries
{
	margin: 10px 0;
	padding: 0;
}

ul.same-countries li
{
	display: inline-block;
	margin: 10px 15px;
	list-style-type: none;
	text-align: center;
}

ul.same-countries li img
{
	height: 45px;
	width: 70px;
	border: 1px solid #f0f0f0;
    opacity: 0.8;
	display: block;
}

.share-button
{
	padding: 10px 20px;
    border-radius: 2px;
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
}

.share-button.facebook
{
	background-color: #3c5999;
}
.share-button.twitter
{
	background-color: #00abec;
}
.share-button.gplus
{
	background-color: #dd4b39;
}
.share-caption
{
	margin: 40px 0 30px 0;
}

.result-screen
{
	position: relative;
	display: none;
	width: 600px;
	align-content: center;
	margin-top: 500px;
}
.result-screen img.background
{
	width: 600px;
}
.result-screen .result
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.result-screen .result p.title
{
	font-size: 23pt;
	font-weight: bold;
	margin: 15px 0;
}
.result-screen .result .flags
{
	color: #000;
	background-color: #ececec;
	width: 500px;
	margin: 0 auto;
}
.result-screen .result .flags .caption
{
	margin: 10px 0 0 0;
}
.result-screen .result .title2
{
	font-size: 25pt;
	font-weight: bold;
	margin: 15px 0;
}
.result-screen .result ul.same-countries
{
	margin: 0px;
}
.result-screen .result ul.same-countries li img
{
	height: 26px;
	width: 40px;
	border: 1px solid #f0f0f0;
    opacity: 0.8;
	display: block;
	font-size: 9pt;
}
.result-screen .result .start-button
{
	padding: 5px 10px;
	text-transform: uppercase;
	background-color: #54d658;
	width: 200px;
	margin: 20px auto;
	font-size: 17pt;
	font-weight: normal;
	cursor: pointer;
	color: #fff;
	border-radius: 3px;
}

ul.scale-result
{
	margin: 0;
	padding: 0;
}
ul.scale-result li
{
	display: inline-block;
	margin: 5px 7px;
	list-style-type: none;
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
	cursor: pointer;
}
ul.scale-result li .circle
{
	display: block;
	border-radius: 50%;

	margin: 7px;
	height: 48px;
	width: 48px;
	background-color: #d9d9d9;

	border: 1px solid #fff;
}
ul.scale-result li .circle.family.selected
{
	background-color: #e01e5a;
}
ul.scale-result li .circle.work.selected
{
	background-color: #c06f32;
}
ul.scale-result li .circle.friends.selected
{
	background-color: #5329bd;
}
ul.scale-result li .circle.leisure.selected
{
	background-color: #22b45a;
}
ul.scale-result li .circle.religion.selected
{
	background-color: #cbcb05;
}
ul.scale-result li .circle.politics.selected
{
	background-color: #2fa0d9;
}
ul.scale-result li .circle.selected.n0
{
	margin: 1px;
	height: 60px;
	width: 60px;
}
ul.scale-result li .circle.selected.n1
{
	margin: 3px;
	height: 56px;
	width: 56px;
}
ul.scale-result li .circle.selected.n2
{
	margin: 5px;
	height: 52px;
	width: 52px;
}
ul.scale-result li .circle.selected.n3
{
	margin: 7px;
	height: 48px;
	width: 48px;
}
ul.scale-result li .circle.selected.n4
{
	margin: 9px;
	height: 44px;
	width: 44px;
}
ul.scale-result li .circle.selected.n5
{
	margin: 11px;
	height: 40px;
	width: 40px;
}

img.result
{
	display:block;
	width: 600px;
	margin: 0 auto;
}