body {
    font-family: 'Roboto', sans-serif;
    background-color: #EAF9FF;
}

header {
    background-color: #07763a;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center 15px;
    background-size: 230px 38px;
    height: 75px;
}

.logo {
    background-image: url('img/coat.png');
    width: 55px;
    height: 75px;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
}

.header-title {
    color: white;
    display: inline-block;
    line-height: 75px;
    margin-left: 15px;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 1px 2px 1px #555;
}

#side-bar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#map-canvas, #dashboard-holder {
    margin: 0 -15px;
}

#dashboard-holder {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    visibility: hidden;
}

#dashboard-holder iframe {
    width: 100%;
}

#modal-dialog-holder {
    top: 75px;
}

.modal-header .close:focus {
    outline: none;
}

.item-header {
    color: #07763a;
}

.inline-header {
    display: inline-block;
    margin-right: 15px;
}
.inline-value {
    display: inline-block;
}

#region-layer-switcher {
    position: absolute;
    left: 7px;
    bottom: 35px;
    display: none;
}

.main-menu a {
    display: inline-block;
    line-height: 75px;
    text-decoration: none;
    padding: 0 20px 0 60px;
    color: white;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 1.3em;
    margin: 0 -1px;
}

.main-menu a.active {
    background-color: #015527;
}

.main-menu a:hover {
    background-color: #3D8056;
}
.main-menu a:focus {
    outline: none;
}

.main-menu a.country-overview {
    background-image: url('img/ico-co.png');
}
.main-menu a.dashboard {
    background-image: url('img/ico-db.png');
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .logo {
        background-image: url('img/coat-x2.png');
        background-size: contain;
    }
    .main-menu a.country-overview {
        background-image: url('img/ico-co-x2.png');
        background-size: 15% auto;
    }
    .main-menu a.dashboard {
        background-image: url('img/ico-db-x2.png');
        background-size: 15% auto;
    }
}

#heatmap-legend {
    background-color: #efefef;
    border-radius: 3px;
    border: 1px solid gray;
    height: 45px;
    position: absolute;
    padding: 4px;
    top: 15px;
    right: 15px;
}

#heatmap-legend .scale span {
    width: 50px;
    height: 10px;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: -4px;
}
#heatmap-legend .scale span:first-child {
    margin-left: 0;
}