html, body
{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Roboto', sans-serif;
	color: black;
}

.ajax-loader
{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.65) url(../img/ajax-loader.gif) center center no-repeat;
	z-index: 100500;
}

body.loading > .ajax-loader
{
	display: block;
}

.modal .modal-dialog {
	width: 85%;
	padding-left: 0;
}

.modal-body {
	margin-bottom: 14%;
}

.modal-content {
	margin-bottom: 30px;
}

#filter-objects {
	width: 250px;
}

#preview-image {
	//width: 170px;
}

.thumbnail-list {
	height: 20%;
	margin-right: 5px;
	/*TODO Repcae with scroller*/
	overflow-x: scroll;
}

.thumbnail-list .thumbnail {
	display: inline-block;
	width: 20%;
}

.tab-content {
	margin-top: 10px;
}

.input-group button:focus {
	outline: none;
}

.drug-list {
	overflow-y: scroll;
}

.item-header {
	color: #00a3dd;
}

.inline-header {
	display: inline-block;
	margin-right: 15px;
}
.inline-value {
	display: inline-block;
}

.navbar-header {
	background-color: #1eb53a;
	z-index: 10;
	position: absolute;
}

.navbar-right {
	position: absolute;
	right: 15px;
}

.tabpanel {
	background-color: red;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border: none;
}

.navbar {
	border: none;
}

.navbar .container-fluid {
	padding-left: 0;
}

.navbar a.logo{
	background-color: #1eb53a;
	//margin-left: -1px;
	line-height: 50px;
	height: 50px;
	display: block;
	float: left;
	outline: none;
	background-image: url("../img/logo.png");
	width: 570px;
	height: 50px;
	background-repeat: no-repeat;
}

.navbar a.logo:focus{
	outline: none;
}

.navbar-right {
	background-color: #00a3dd;
}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
	background-color: #00a3dd;
}
.navbar-inverse .navbar-brand {
	color: #efefef;
}

#map-legend {
	z-index: 1000;
	width: 128px;
	padding: 5px;
	background-color: #efefef;
	opacity: 0.9;
	position: absolute;
	top: 20px;
	right: 20px;
	color: #2D2D2D;
}

#map-legend img {
	width: 21px;
	float: left;
	margin-right: 6px;
}

#map-legend div {
	line-height: 30px;
	font-weight: bold;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#table tbody tr {
	cursor: pointer;
}

#table tbody tr:hover{
	background-color: lightgray;
}

#back-button {
	position: absolute;
	right: 20px;
	top: 35px;
}

#back-button a:hover {
	color: #dd0000;
}

.form-group .form-label, .form-inline .form-label
{
	color: #7A94A3;
	display: block;
}

.form-group input.form-control
{
	width: 110px;
	display: inline-block;
}

	.form-group input.form-control.right
	{
		float: right;
	}

.form-group .slider
{
	margin: 10px;
}

.form-group.count
{
	background-color: #E4F6FF;
	padding: 10px;
	text-align: center;
}

.form-group.projects label
{
	cursor: pointer;
}

.form-group.projects input
{
	top: 1px;
	position: relative;
	display: inline-block;
}

.form-group.projects img
{
	margin: 0 5px;
	width: 12px;
}

.form-group.count label
{
	color: black;
	margin-bottom: 0;
}

#map-canvas
{
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin-right: -15px;
	margin-left: -5px;
}

#search-holder .search-input {
	width: 300px;
}

tr.header {
	background-color: lightgray;
}

.sidebar-content {
	/*background-color: red;*/
	padding: 15px 0;
}

.sidebar-content hr {
	border-top: 1px solid #00a3dd;
}

.sidebar-content h4{
	text-transform: uppercase;
	color: #00A3DD;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
}

.side-bar-list a {
	display: block;
	padding: 3px 0 3px 15px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.side-bar-list a:before {
	content: '\2022';/*http://www.fileformat.info/info/unicode/char/2022/index.htm*/
	display: inline-block;
	margin-right: 4px;
}

.side-bar-list a:hover {
	background-color: #efefef;
}

.side-bar-list a.active {
	background-color: #ccecf7;
	color: #06a2dd;
}

.side-bar-list {
	/*TODO Restore this after new section added to side-bar*/
	/*max-height: 300px;*/
	/*overflow-x: auto;*/
}
.side-bar-list .list-group-item {
	/*background-color: gray;*/
	padding: 3px 4px;
	font-size: 12px;
}

.labels {
	color: #222;
	background-color: white;
	border-radius: 50%;
	padding: 3px;
	font-size: 10px;
	min-width: 18px;
	text-align: center;
}

#profile {
	margin-left: -36%;
	background-color: white;
}

#timeseries-settings {
	/*background-color: goldenrod;*/
}

#indicator-select-holder select {
	width: 90%;
}

.nano {
	background: #fbfbfb;
	border: 1px solid #efefef;
	border-radius: 3px;
}
.nano > .nano-content {
	padding: 10px;
}
.nano > .nano-pane {
	width: 9px;
}
.nano > .nano-pane > .nano-slider {
	background: #06a2dd;
	border-radius: 5px;
	margin: 0;
}


#color-legend {
	display: none;
	position: absolute;
	width: 230px;
	height: 50px;
	background-color: white;
	bottom: 30px;
	right: 20px;
	z-index: 10;
}

.palette-holder {
	margin: 4px 6px;
}

.palette {
	height: 20px;
	background-color: blue;
}

#timeline {
	display: none;
	position: absolute;
	height: 50px;
	background-color: white;
	bottom: 30px;
	left: 20px;
	z-index: 10;
	max-width: 55%;
}

#timeline a {
	display: inline-block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	margin: 0 -3px;
}

#timeline a.play-button {
	color: white;
	background-color: darkgreen;
	padding: 0 15px;
}

#timeline a.timepoint {
	background-color: green;
	color: white;
	padding: 0 7px;
}

#timeline a:hover {
	background-color: #6AB371;
}

#timeline a.active {
	background-color: #0e4114;
	color: white;
}

.chosen-container .chosen-results li.group-result {
	color: #222;
}

.info-window-content .indicator-group {
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	color: #555;
}

.region-switcher {
	background-color: red;
	display: none;
}