<div class="filter-section ${className}">
    <h5>
        ${header}
        {{if className == 'ncd-sara-composite-score' || className == 'facility-type'}}
            &nbsp;&nbsp;<i data-toggle="tooltip" data-placement="right" class="fa fa-info-circle" title="${tooltipContent}"></i>
        {{/if}}
    </h5>
    {{each(i, item) items}}
        <div class="checkbox">
            <label>
                <input type="checkbox" data-dimension="${header}" value="${item.name}" checked> <span class="${item.name}">{{if className == 'ncd-sara-composite-score'}}<i class="fa fa-circle"></i>{{/if}}</span>
                ${typeof item.displayName === 'undefined' ? item.name : item.displayName}
            </label>
            <a href="${datasetUrl}" class="source-link" target="_blank" title="Open source dataset in new window">
                <i class="fa fa-external-link"></i>
            </a>
        </div>
    {{/each}}
</div>