html, body { position: relative; width: 100%; height: 100%; margin: 0; padding: 0; }

body {
    font-family: 'Segoe UI', sans-serif;
    color: black;
}

/*index page*/
body.landing
{
	background: url(./img/bg.jpg) no-repeat;
	background-size: 100%;
}

#landing-content
{
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin: 0 auto;
	height: 800px;
	width: 1000px;
	font-family: 'Roboto', serif;
	color: #fff;
	text-align:center;
}

#logo
{
	margin: 190px 0 100px 0;
	height: 180px;
	width: 330px;
}

.first-line
{
	padding: 20px 15px;
	background-color: #472001;
	text-transform: uppercase;
}

.first-line h1
{
	font-size: 25pt;
	font-weight: lighter;
}

.first-line h2
{
	font-size: 16pt;
	font-weight: lighter;
}

.second-line
{
	background-color: #f3eed0;
	border: 2px solid #472001;
	font-family: 'Roboto Slab', serif;
	font-size: 11pt;
	font-weight: bold;
	color: #472001;
	padding: 5px 0 15px 0;
}

.second-line .menu-item
{
	display: inline-block;
	cursor: pointer;
}
.second-line .menu-item.s1
{
	width: 150px;
}
.second-line .menu-item.s2
{
	width: 160px;
}
.second-line .menu-item.s3
{
	width: 190px;
}

.second-line .menu-item img
{
	display: block;
	margin: auto;
}

.second-line .menu-item .item-title
{
	margin: auto;
}
.second-line .menu-item .item-title.s1
{
	width: 100px;
}
.second-line .menu-item .item-title.s2
{
	width: 150px;
}
.second-line .menu-item .item-title.s3
{
	width: 200px;
}
/*index page: finish*/

.ajax-loader {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.65) url(./img/ajax-loader.gif) center center no-repeat;
	z-index: 100500;
}
body.loading > .ajax-loader {
	display: block;
}

.cluster > div {
    -webkit-text-stroke: 0.2px #d75f05;
    text-shadow: -1px -1px 0 #d75f05, 1px -1px 0 #d75f05, -1px 1px 0 #d75f05, 1px 1px 0 #d75f05;
}

.bootstrap-select .text,
.bootstrap-select .filter-option {
	font-style: normal;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
.bootstrap-select li a:hover,
.bootstrap-select li.selected a {
	background-color: #ebfaff !important;
}
.bootstrap-select div.dropdown-menu {
	border-radius: 2px !important;
    box-shadow: 0 3px 12px rgba(0,0,0,.2) !important;
    margin-top: 0;
}
.bootstrap-select .btn {
	border-radius: 2px !important;
}

.main-menu {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 70px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    z-index: 10;
	background: url(./img/bg-banner.png);
}

.main-menu .logo {
	float: left;
	font-family: 'Roboto Slab', serif;
	color: #2b1300;
	font-size: 14pt;
	font-weight: bold;
	height: 100%;
    line-height: 100%;
    padding-left: 150px;
    padding-top: 18px;
    background: url(./img/logo-banner.png) no-repeat;
    background-size: 150px 70px;
	margin-left: 10px;
	width: 450px;
	text-transform: uppercase;
}
.main-menu .items {
	position: absolute;
	right: 0;
	top: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    border: none;
}
.main-menu .items li {
    margin: 0;
}
.main-menu .items li a {
	height: 70px;
	width: 150px;
	color: #2b1300;
	padding: 15px 15px 0 15px;
    margin: 0;
	border-radius: 0px;
	border: none;
	border-left: 1px solid #b0956d;
}
.main-menu .items li a.s1
{
	width: 62px;
}
.main-menu .items li a.s2
{
	width: 180px;
}
.main-menu .items li a.s3
{
	width: 240px;
}
.main-menu .items li a.s4
{
	width: 250px;
}
.main-menu .items a img {
	float: left;
	margin-right: 13px;
	margin-top: 3px;
}
.main-menu .items li.active a {
	color: #2b1300 !important;
	background-color: #cbb89d;
	border: none !important;
	border-left: 1px solid #b0956d !important;
}
.main-menu .items li a:hover {
	background-color: #cbb89d;
	border: none !important;
	border-left: 1px solid #b0956d !important;
}

.filter-form {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	background-color: #f4ece1;
	padding: 5px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
.filter-form > h2 {
	font-size: 11px;
	color: #472001;
	margin: 20px 0 0 0;
}
.filter-form > label {
	display: block;
	font-weight: normal;
	margin: 8px 0 0 0;
	color: #472001;
}
.filter-form > label > input {
	vertical-align: -2px;
	margin: 0;
	margin-right: 5px;
}
.filter-form > label > img
{
	margin: 0px 5px 0 0;
}
.filter-form hr {
	margin: 20px 0;
	border-top: 1px solid #d2e6f0;
}
.filtered-content {
	position: absolute;
	left: 300px;
	top: 0;
	right: 0;
	bottom: 0;
}

h2.left-menu
{
	text-transform: uppercase;
	margin-bottom: 5px;
}

.inner-content
{
	position: relative;
    height: 700px;
    width: 1375px;
    margin: auto;
}

.ppp-projects-container
{
	width: 177px !important;
	margin-top: -6px;
}
#ppp-select-button
{
	background-color: #472001;
	border: 0px;
	color: #fff;
	border-radius: 3px;
	padding: 6px 12px;
	font-size: 11pt;
	text-transform: uppercase;
}
.ppp-item
{
	color: #fff;
	display: inline-block;
	margin: 2px;
	padding: 10px;
	height: 130px;
	width: 180px;
	background: url(./img/bg_normal.png);
	vertical-align: top;
	cursor: pointer;
}
.ppp-item.active
{
	background: url(./img/bg_selected.png);
}

.ppp-item .checkbox
{
	display: inline-block;
	margin: 10px 7px 0 0;
	height: 12px;
	width: 12px;
	background: url(./img/checkbox_icons.png) -12px 0 no-repeat;
}
.ppp-item.active .checkbox
{
	background: url(./img/checkbox_icons.png) 0 0 no-repeat;
}
.pp-btn
{
	text-transform: uppercase;
	color: #fff;
	background-color: #472001;
	padding: 5px 10px;
	width: 110px;
	text-align:center;
	margin-right: 5px;
	border: 0px;
	border-radius: 3px;
}
.pp-name
{
	background: url(./img/line.png) no-repeat;
	margin-top: 15px;
    font-size: 9pt;
    padding-top: 10px;
    line-height: 15px;
}
.ppp-item .pp-icon
{
	float: right;
	height: 40px;
	width: 40px;
	display: inline-block;
}
.ppp-item .pp-icon.i00
{
	background: url(./img/00.png);
}
.ppp-item .pp-icon.i01
{
	background: url(./img/01.png);
}
.ppp-item .pp-icon.i02
{
	background: url(./img/02.png);
}
.ppp-item .pp-icon.i03
{
	background: url(./img/03.png);
}
.ppp-item .pp-icon.i04
{
	background: url(./img/04.png);
}
.ppp-item .pp-icon.i05
{
	background: url(./img/05.png);
}
.ppp-item .pp-icon.i06
{
	background: url(./img/06.png);
}
.ppp-item .pp-icon.i07
{
	background: url(./img/07.png);
}
.ppp-item .pp-icon.i08
{
	background: url(./img/08.png);
}
.ppp-item .pp-icon.i09
{
	background: url(./img/09.png);
}
.ppp-item .pp-icon.i10
{
	background: url(./img/10.png);
}
.ppp-item .pp-icon.i11
{
	background: url(./img/11.png);
}
.ppp-item .pp-icon.i12
{
	background: url(./img/12.png);
}
.ppp-item .pp-icon.i13
{
	background: url(./img/13.png);
}
.ppp-item .pp-icon.i14
{
	background: url(./img/14.png);
}
.ppp-item .pp-icon.i15
{
	background: url(./img/15.png);
}
.ppp-item .pp-icon.i16
{
	background: url(./img/16.png);
}
.ppp-item .pp-icon.i17
{
	background: url(./img/17.png);
}
.ppp-item .pp-icon.i18
{
	background: url(./img/18.png);
}
.ppp-item .pp-icon.i19
{
	background: url(./img/19.png);
}
.ppp-item .pp-icon.i20
{
	background: url(./img/20.png);
}
.ppp-item .pp-icon.i21
{
	background: url(./img/21.png);
}
.ppp-item .pp-icon.i22
{
	background: url(./img/22.png);
}
.ppp-item .pp-icon.i23
{
	background: url(./img/23.png);
}
.ppp-item .pp-icon.i24
{
	background: url(./img/24.png);
}
.ppp-item .pp-icon.i25
{
	background: url(./img/25.png);
}
.ppp-item .pp-icon.i26
{
	background: url(./img/26.png);
}
.ppp-item .pp-icon.i27
{
	background: url(./img/27.png);
}

.budget-input
{
	display: inline-block;
	margin-bottom: 10px;
	width: 110px;
	font-size: 10pt;
	padding: 5px 10px 6px 10px;
}

#budget-min
{
}

#budget-max
{
	margin-left: 10px;
}

#slider-range
{
	margin-left: 6px;
	width: 221px;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all
{
	height: 7px;
}
.ui-slider-range.ui-widget-header.ui-corner-all
{
	height: 5px;
	background: #fff;
}
.ui-slider-handle.ui-state-default.ui-corner-all
{
	background: #9b7c4f;
	border-radius: 0px;
}

#regions-control
{
	position: absolute;
	top: 9px;
	left: 430px;
	font-size: 9.5pt;
}

#regions-control .input-group
{
	background-color: #fff;
    border-radius: 3px;
	padding: 2px;
}

#regions-control .input-group-addon
{
	padding: 9px 15px;
	background-color: #fff;
	color: #000;
	font-size: 9.0pt;
	border: none;
}

#regions
{
	font-size: 10pt;
	padding: 5px 10px 6px 10px;
    font-weight: bold;
}

#regions-control .region-profile-button
{
	padding: 5px 15px 6px 15px;
	border-radius: 3px;
	border: 1px solid #FFDC00;
	font-weight: bold;
	background-color: #FFDC00;
	margin-left: 12px;
	font-size: 9pt;
}

.topic-content li label span.custom-checkbox.checked
{
	background: url(./img/checkbox_icons.png) 0 0 no-repeat;
}

div#legend
{
	margin: 5px 0 16px 0;
}

div#legend_low
{
	float: left;
}

div#legend_high
{
	float: right;
}

.tab-content {
	position: absolute;
	left: 0;
	top: 70px;
	right: 0;
	bottom: 45px;
}
.tab-content.target-profile
{
	overflow-y: scroll;
}
.tab-content.scenarios
{
	overflow-y: scroll;
}
.tab-content.investment
{
	overflow-y: scroll;
}
.tab-content.sdg
{
	overflow-y: scroll;
	padding-top: 30px;
}
.tab-content .tab-pane {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.scrollable {
	overflow: auto !important;
}

.slider {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 6px;
	margin-top: 10px;
	border: none;
	-ms-border-radius: 0;
	border-radius: 0;
	background: url(./Images/bar_empty.png) no-repeat;
	background-size: 100% 100%;
}
.slider .ui-slider-range {
	border: none;
	-ms-border-radius: 0;
	border-radius: 0;
	background: url(./Images/bar_full.png) no-repeat;
}
.slider .ui-slider-handle {
	border: none;
	width: 16px;
	height: 24px;
	background: url(./Images/slider.png) no-repeat;
	top: -9px;
}
.slider .ui-state-focus {
	outline: 0;
}
.slider .min,
.slider .max {
	position: absolute;
	top: 100%;
	margin-top: 7px;
	line-height: 100%;
	color: #0078c8;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
.slider .min {
	left: 0;
}
.slider .max {
	right: 0;
}

.filter-form .number-group {
	width: 100%;
}
.filter-form .number-group td {
	vertical-align: top;
}
.filter-form .number-group .slider {
	width: 100%;
}
.filter-form .number-group .spinner-cell {
	text-align: right;
	width: 60px;
	padding-left: 10px;
	padding-top: 4px;
}
.filter-form .number-group .spinner {
	width: 60px;
    border-radius: 2px;
}
#modelingFilter h2 {
	margin-top: 0;
	margin-bottom: 8px;
}
#modelingTab .filtered-content {
	padding: 30px 50px;
}
#modelingTab .chart-container {
	width: 50%;
	height: 50%;
}
#modelingTab .chart-container.t {
	border-top: 1px solid lightgrey;
}
#modelingTab .chart-container.l {
	border-left: 1px solid lightgrey;
}

#investmentNeedsTable {
	width: 1160px;
	margin: 20px auto;
	border: 12px solid #F0F5FA;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-align: left;
}
#investmentNeedsTable thead {
	font-weight: bold;
	white-space: nowrap;
	background-color: #F0F5FA;
}
#investmentNeedsTable td {
	border: none;
}
#investmentNeedsTable tbody tr:nth-of-type(even) {
    background-color: #F0F5FA;
}

.passport-popup {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
.passport2-popup
{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}
.passport-popup-new
{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #8E8B86;
	z-index: 3;
}
.passport__content {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	padding: 20px;
	background-color: #fff;
	overflow: auto;
}
.passport__tabs__new
{
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	z-index:4;
}
.passport__tabs__new ul
{
	padding-left: 0px;
}
.passport__tabs__new ul li
{
	display: inline-block;
	background-color: #f4ece1;
	padding: 10px 20px;
	margin: 0px;
	border: solid 1px #9b7c4f;

	font-weight: bold;
	font-size: 11pt;
	text-transform: uppercase;
	color: #472001;
	
	cursor: pointer;
}
.passport__tabs__new ul li:first-child
{
	margin-left: 0px;
}
.passport__tabs__new ul li.active
{
	padding-bottom: 13px;
	border-bottom: none;
}
.passport__content__new, .passport__content__new__b
{
	position: absolute;
	left: 10px;
	right: 10px;
	top: 53px;
	bottom: 10px;
	padding: 20px;
	background-color: #f3ece1;
	overflow: auto;
	z-index: 3;
	border: solid 1px #9b7c4f;
}
.passport__content__new__b
{
	display: none;
}
.passport2__content {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 50px;
	bottom: 40px;
	padding: 20px;
	background-color: #f4ece1;
	overflow: auto;
}
.passport__buttons
{
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	padding: 20px;
	background-color: #f4ece1;
	overflow: auto;
}
.passport__title
{
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	padding: 20px;
	background-color: #f4ece1;
	overflow: auto;
}
.passport__content hr {
	margin: 20px 0;
	border-top: 1px solid #e6e6e6;
}
.passport__close {
	position: absolute;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 40px;
    background: #fff url(./img/icon_close.png) no-repeat center center;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}
.passport__close__new {
	padding: 10px 20px;
	position: absolute;
    right: 10px;
    top: 10px;
    width: 110px;
    height: 40px;
    background-color: #f4ece1;
    cursor: pointer;
    z-index: 5;

	font-size: 11pt;
	text-transform: uppercase;
	color: #472001;
}
.passport__close__new img
{
	margin-right: 10px;
	margin-top: -3px;
}
.passport__close:hover {
	background-image: url(./img/icon_close_hover.png);
}
.passport__map {
	width: 240px;
	height: 240px;
	background-color: #e6e6e6;
}
.passport__title {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: bold;
    margin-bottom: 15px;
}
.passport__fields {
}
.passport__fields__column {
	float: left;
	width: 33%;
}
.passport__field__title {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	color: #646e82;
}
.passport__field__value {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.passport__images {
	float: left;
	width: 240px;
}
.passport__image {
	width: 100%;
}
.passport__image_mini {
	float: left;
	width: 57px;
	height: 57px;
	margin: 4px 0 0 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #fff !important;
	background-color: #0078c8;
	text-decoration: none;
	line-height: 1.2em;
}
.passport__image_mini.first {
	margin-left: 0;
}
.passport__chart_left {
	margin-left: 20px;
	float: left;
}
.passport__chart_right {
	float: left;
}

.top-panel
{
	margin-top: 30px;
}
.top-panel table tr td
{
	padding: 3px 10px;
}
p.title
{
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	color: #9b7c4f;
}
p.value
{
	font-family: 'Roboto', sans-serif;
	font-size: 16pt;
	color: #000;
	margin-bottom: 20px;
}
.g
{
	display: inline-block;
}
.map-panel
{
	margin: 30px 20px 20px 0;
}
.carousel-panel
{
	margin: 30px 200px 0 0;
}
.chart-panel
{
	vertical-align: top;
    margin: 30px 0;
    padding-top: 30px;
}
.chart-panel img
{
	vertical-align:top;
}
.status-button
{
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	color: #f4ece1;
	font-weight: bold;
	background-color: #472001;
	padding: 10px 40px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-left: -20px;
}

.area-profile {
	font-size: 12px;
	width: 380px;
	overflow: hidden;
	line-height: 1.1em;
}
.area-profile ul > li {
	line-height: 1.5em;
}
.area-profile hr {
	margin: 17px 0;
}
.area-profile h4 {
	font-size: 17px;
}
.area-profile label {
	color: rgb(38, 174, 208);
}

.icon {
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: -2px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 14px 14px;
}
.icon.run {
	background-image: url(./Images/icon_running.png);
}
.icon.construct {
	background-image: url(./Images/icon_underconstruction.png);
}
.icon.plan {
	background-image: url(./Images/icon_planned.png);
}
.icon.point-schools {
	background-image: url(./Images/circle_schools.png)
}
.icon.point-hospital {
	background-image: url(./Images/circle_hospital.png)
}
.icon.point-military {
	background-image: url(./Images/circle_military.png)
}
.icon.point-government {
	background-image: url(./Images/circle_government.png)
}
.icon.point-airports {
	background-image: url(./Images/circle_airport.png)
}
.icon.point-ports {
	background-image: url(./Images/circle_port.png)
}
.icon.point-factories {
	background-image: url(./Images/circle_factories.png)
}
.icon.point-oil {
	background-image: url(./Images/circle_oil.png)
}
.icon.point-hotels {
	background-image: url(./Images/circle_hotels.png)
}
.icon.point-agriculture
{
	background-image: url(./Images/circle_agriculture.png);
}
.icon.point-refineries
{
	background-image: url(./Images/circle_oil.png);
}
.icon.point-energy
{
	background-image: url(./Images/circle_energy.png);
}
.icon.point-power
{
	background-image: url(./Images/circle_power.png);
}
.icon.point-housing
{
	background-image: url(./Images/circle_housing.png);
}
.icon.point-tourism
{
	background-image: url(./Images/circle_tourism.png);
}
.icon.point-train
{
	background-image: url(./Images/circle_train.png);
}
.icon.point-undefined
{
	background-image: url(./Images/circle_undefined.png);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
	.main-menu .logo
	{
		background-image: url(./Images/logo_afbd@2x.png);
	}

	.icon.run
	{
		background-image: url(./Images/icon_running@2x.png);
	}

	.icon.construct
	{
		background-image: url(./Images/icon_underconstruction@2x.png);
	}

	.icon.plan
	{
		background-image: url(./Images/icon_planned@2x.png);
	}

	.icon.point-schools
	{
		background-image: url(./Images/circle_schools@2x.png);
	}

	.icon.point-hospital
	{
		background-image: url(./Images/circle_hospital@2x.png);
	}

	.icon.point-military
	{
		background-image: url(./Images/circle_military@2x.png);
	}

	.icon.point-government
	{
		background-image: url(./Images/circle_government@2x.png);
	}

	.icon.point-airports
	{
		background-image: url(./Images/circle_airport@2x.png);
	}

	.icon.point-ports
	{
		background-image: url(./Images/circle_port@2x.png);
	}

	.icon.point-factories
	{
		background-image: url(./Images/circle_factories@2x.png);
	}

	.icon.point-oil
	{
		background-image: url(./Images/circle_oil@2x.png);
	}

	.icon.point-hotels
	{
		background-image: url(./Images/circle_hotels@2x.png);
	}

	.icon.point-agriculture
	{
		background-image: url(./Images/circle_agriculture.png);
	}

	.icon.point-energy
	{
		background-image: url(./Images/circle_energy.png);
	}

	.icon.point-power
	{
		background-image: url(./Images/circle_power.png);
	}

	.icon.point-housing
	{
		background-image: url(./Images/circle_housing.png);
	}

	.icon.point-tourism
	{
		background-image: url(./Images/circle_tourism.png);
	}
	.icon.point-train
	{
		background-image: url(./Images/circle_train.png);
	}
}

.energy-profile
{
	display: none;
}

.target-profile .left-column
{
	float: left;
}

.target-profile .right-column
{
	margin: 30px;
	float: left;
}

.target-profile .right-column td
{
	padding: 5px 10px;
}

.target-profile .right-column td.clicable img
{
	cursor: pointer;
}
.target-profile .right-column td.clicable img.hover
{
	display: none;
}
.target-profile .right-column td.clicable:hover img
{
	display: none;
}
.target-profile .right-column td.clicable:hover img.hover
{
	display: block;
}
.target-profile .left-column div
{
	margin: 20px;
}
.target-profile .left-column div p
{
	display: inline-block;
	margin-left: 10px;
	font-weight: bold;
}

.target-profile .left-column table
{
	margin-top: 10px;
}

.target-profile .left-column td
{
	padding-left: 40px;
}

.target-profile .left-column td a
{
	color: #056c46;
}

#footer
{
	position: absolute;
	height: 45px;
	background: #472001;
	bottom:0;
	width: 100%;
}

#footer div
{
	float: right;
	font-size: 11pt;
	padding: 12px;
}

#right-hand-panel
{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	background-color: #f4ece1;
	padding: 5px 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	display: none;
}

#right-hand-panel table
{
	margin-top: 20px;
}
#right-hand-panel .table-container
{
}

#right-hand-panel table thead tr th
{
	padding: 2px 10px;
	font-size: 10pt;
}
#right-hand-panel table tbody tr td
{
	padding: 2px 5px;
}
#right-hand-panel table tbody tr:nth-child(2n)
{
	background-color: #f3f0ec;
}

#right-hand-panel h2
{
	font-size: 10pt;
	font-weight: bold;
}

#right-hand-panel .panel-title
{
	border-bottom: 1px solid #9b7c4f;
	text-align: center;
}

#footer div a
{
	color: #9b7c4f;
	text-decoration:none;
}

/*timeline*/
#timeline
{
	position: absolute;
	height: 45px;
	background: #9b7c4f;
	bottom: 45px;
	left: 300px;
	right: 0;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
}

.calendar-content
{
	font-family: 'Roboto', sans-serif;
	float: left;
}

.calendar-content .item
{
	margin-top: 7px;
	display: inline-block;
	text-shadow: 1px 1px #c8dfe8;
	color: #8c8c8c;
	padding: 1px 30px;
	cursor: pointer;
	font-weight: bold;
}

.calendar-content .item.active
{
	color: #000;
}

.calendar-content .item .month
{
	font-size: 12pt;
	margin: 3px 0 0 0;
}

.calendar-content .item .year
{
	font-size: 9pt;
	margin-bottom: 10px;
}

.year-item
{
	margin-top: 11px;
	float: left;
	display: inline-block;
	color: #472001;
	padding: 1px 15px;
	cursor: pointer;
}

.v-arrow
{
	cursor: pointer;
	width: 12px;
	height: 25px;
	margin: 11px 5px;
}

.v-arrow.right
{
	float: right;
	background: url(./Images/arrow_right.png);
}

.v-arrow.left
{
	float: left;
	background: url(./img/btn-left.png);
}

.play-btn
{
	cursor: pointer;
	margin: 5px 10px;
	width: 35px;
	height: 35px;
	float: left;
	background: url(./img/btn-play.png)
}

/*timeline*/

/*tooltips*/
.map-tooltip
{
	color: #000;
	font-weight: bold;
}

.map-tooltip.pdf-frame
{
	width: 650px;
	min-width: 650px;
	overflow: visible;
}

.map-tooltip.farms
{
	width: 500px;
}

.map-tooltip.churches p, .map-tooltip.schools p, .map-tooltip.hospital p, .map-tooltip.buildings p
{
	font-size: 13pt;
}

.map-tooltip .data-block
{
	margin: 0 0 15px 0;
	display: inline-block;
}

.map-tooltip .data-block label
{
	color: #9b7c4f;
	margin: 0;
	float: left;
}
.map-tooltip .data-block div
{
	padding: 3px 10px 3px 15px;
}

.map-tooltip .data-block .red
{
	color: red;
}

.map-tooltip .data-block .odd
{
	background-color: #F8F8F8;
}

.map-tooltip .opp-button
{
	background-color: #472001;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 14px;
	text-decoration: none;
	color: #f4ece1;
	font-size: 11pt;
	display: block;
	margin-left: 140px;
	width: 220px;
}

.map-tooltip .data-block h3
{
	margin: 0px;
	font-size: 13pt;
	color: #000;
	font-weight: normal !important;
	background-color: #E4F7FE;
	padding: 4px 0 4px 10px;
}

.map-tooltip .data-block-r
{
	margin: 0 0 10px 0;
}

.map-tooltip .data-block-r p
{
	margin-left: 10px;
	width: 350px;
	font-weight: normal;
}

.map-tooltip .data-block-r label
{
	color: #000;
	margin: 0;
	float: left;
}
.map-tooltip .data-block-r label.right
{
	float: right;
	width: 40px;
}
.map-tooltip .data-block-r div
{
	padding: 2px 10px 2px 15px;
	text-align: right;
}
.map-tooltip .data-block-r div:first-child
{
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
}

.map-tooltip .data-block-r .red
{
	color: red;
}

.map-tooltip .data-block-r .odd
{
	background-color: #F8F8F8;
}

.map-tooltip .data-block-r h3
{
	margin: 0px;
	font-size: 13pt;
	color: #000;
	font-weight: normal !important;
	background-color: #E4F7FE;
	padding: 4px 0 4px 10px;
}

.map-tooltip .general-block
{
	margin-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
}

.map-tooltip.farms
{
	min-width:650px;
}

.map-tooltip p.tooltip-header
{
	font-size: 14pt;
	color: #1E86B9;
	max-width: 350px;
}

.map-tooltip .prices-block
{
	margin-top: 10px;
}

.map-tooltip .img-block
{
	display: inline-block;
	margin: 0 30px 15px 0;
	vertical-align: top;
}

.map-tooltip .img-block img
{
	width: 130px;
}

.map-tooltip table
{
	width: 100%;
}

.map-tooltip table thead tr
{
	background-color: #e6e6e6;
}

.map-tooltip table thead tr th
{
	padding: 3px 10px;
}

.map-tooltip table tbody tr td
{
	padding: 3px 10px;
}

.map-tooltip label
{
	font-weight: normal;
}

.labels
{
	color: #000;
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 8pt;
	width: 24px;
	padding: 0px 2px;
	border-radius: 5px;
}

/*sector monitor*/
.tab-content.sector
{
	background-color: #f4ece1;
	overflow-y: hidden;
}

.sidebar-topic
{
	color: #646E82;
    font-size: 13pt;
    height: 40px;
    padding: 6px 5px 6px 15px;
    width: 410px;
    cursor: pointer;
	text-transform: uppercase;
	border-top: 1px solid #DEDEDE;
}

.sidebar-topic .arrow
{
	height: 8px;
	width: 11px;
	float: right;
	margin: 9px 17px 0 0;
	background: url(./Images/arrow_down.png);
}

.sidebar-topic.active .arrow
{
	background: url(./Images/arrow_up.png);
}

ul.topic-content
{
	margin: 0;
	padding: 0;
	display: none;
}

ul.topic-content.active
{
	display: block;
}

.sidebar-subtopic
{
	font-weight: bold;
	color: #000;
	list-style-type: none;
	margin-left: 15px;
	width: 390px;
}

ul.subtopic-content
{
	margin: 0;
	padding: 0;
}

ul.subtopic-content li
{
	color: #B7B7B7;
	padding: 3px 0px 3px 20px;
	width: 410px;
}

ul.subtopic-content li div
{
	width: 370px;
}

ul.subtopic-content li.active
{
	background-color: #9f8155;
}

ul.subtopic-content li img
{
	margin: 0 5px 3px 0;
}

ul.subtopic-content li a
{
	color:#000;
	text-decoration: none;
}

.i-frame-content
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 410px;
}

.tree-wrapper
{
	position: absolute;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
}
/*end: sector monitor*/

/*reforms: start*/
.tab-content.reforms
{
	background-color: #e5d9b8;
}
.reforms-container
{
	font-family: 'Roboto', serif;
	width: 1212px;
	margin: 0 auto;
}
.reforms-container ul
{
	margin: 0;
	padding: 0;
}
.reforms-container ul li
{
	text-transform: uppercase;
	list-style-type: none;
	display: inline-block;
	margin: 10px 10px;
	padding: 10px 20px;
	border: 1px solid #9b7c4f;
	width: 280px;
	background-color: #f4ece1;
	cursor: pointer;
}
.reforms-container ul li img
{
	float: left;
	margin-right: 10px;
}
.reforms-container ul li h2
{
	margin-top: 15px;
	display: inline-block;
	font-size: 14pt;
	color: #472001;
}
.reforms-container ul li span
{
	float: right;
	margin-top: -10px;
	font-size: 34pt;
	color: #472001;
}
.reforms-container ul li.active
{
	border-bottom: none;
	padding-bottom: 35px;
}

.reforms-table
{
	margin: -11px 10px 0px 10px;
	padding: 20px;
	border: 1px solid #9b7c4f;
	background-color: #f2ebe0;
}
.reforms-table .left-part
{
	display:inline-block;
	width: 49%;
}
.reforms-table .right-part
{
	display:inline-block;
	width: 48%;
	margin-left: 20px;
	vertical-align: top;
}
.reforms-table .left-part table
{
	width: 100%;
	background-color: #f9f7f3;
	font-size: 14pt;
}
.reforms-table .left-part table thead
{
	background-color: #472001;
	color: #f4ece1;
	text-transform: uppercase;
}
.reforms-table .left-part table thead th
{
	padding: 3px 10px;
	font-weight: normal;
}
.reforms-table .left-part table tbody td
{
	padding: 3px 10px;
}
.reforms-table .left-part table tbody tr
{
	cursor: pointer;
}
.reforms-table .left-part table tbody tr.active
{
	background-color: #f2ebe0 !important;
}
.reforms-table .left-part table tbody tr td img.arrow-icon
{
	display: none;
}
.reforms-table .left-part table tbody tr:nth-child(2n)
{
	background-color: #fbf6ed;
}
.reforms-table .right-part .title
{
	background-color: #472001;
	color: #f4ece1;
	text-transform: uppercase;
	font-size: 14pt;
	padding: 3px 10px;

}
.reforms-table .right-part table
{
	width: 100%;
	margin-top: 20px;
}
.reforms-table .right-part table.general-info td
{
	padding: 3px 5px;
}
.reforms-table .right-part table.general-info td.caption
{
	color: #9b7c4f;
}
/*reforms: end*/

/*sdg: start*/
#sdg #tile-page .tiles .tile,
#sdg-editor #tile-page .tiles .tile {
  width: 149px;
  height: 149px;
  float: left;
  margin-left: 2px;
  position: relative;
  overflow: hidden;
}
#sdg #tile-page .tiles .tile .extra,
#sdg-editor #tile-page .tiles .tile .extra {
  position: absolute;
}
#sdg #tile-page .tiles .tile .image,
#sdg-editor #tile-page .tiles .tile .image {
  position: relative;
  width: 149px;
  height: 149px;
  background-size: 100%;
  background-repeat: no-repeat;
}
#sdg #tile-page .tiles .tile .hover-text,
#sdg-editor #tile-page .tiles .tile .hover-text {
  text-align: center;
  display: none;
  width: 149px;
  height: 149px;
  text-decoration: none;
  color: #fff;
  font: normal 9pt 'Open Sans';
  display: inline-block;
}
#sdg #tile-page .tiles::after,
#sdg-editor #tile-page .tiles::after {
  display: block;
  content: "";
  clear: left;
}
#sdg .back,
#sdg-editor .back {
  background-color: #0077ca;
  cursor: pointer;
  font: bold 12pt 'PT Serif', Calibri, Gill Sans, Calibri Light, Tahoma;
  float: left;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  display: none;
}
#sdg #detail-page,
#sdg-editor #detail-page {
  display: none;
}
#sdg #detail-page .goal-header,
#sdg-editor #detail-page .goal-header {
  height: 81px;
  margin-top: 30px;
  position: relative;
}
#sdg #detail-page .goal-header .img,
#sdg-editor #detail-page .goal-header .img {
  position: relative;
  display: inline-block;
  height: 80px;
  width: 149px;
  background-size: contain;
  margin-left: 20px;
  background-repeat: no-repeat;
  float: left;
}
#sdg #detail-page .goal-header .text,
#sdg-editor #detail-page .goal-header .text {
  display: inline-block;
  font: bold 12pt 'PT Serif', Calibri, Gill Sans, Calibri Light, Tahoma;
  position: relative;
  top: 28px;
  left: -65px;
  color: #fff;
  float: left;
  width: 685px;
}
#sdg #detail-page .goal-header a,
#sdg-editor #detail-page .goal-header a {
  position: absolute;
  right: 10px;
  text-align: center;
  text-decoration: none;
}
#sdg #detail-page .goal-header a span,
#sdg-editor #detail-page .goal-header a span {
  display: block;
}
#sdg #detail-page .goal-header a span.img-togg,
#sdg-editor #detail-page .goal-header a span.img-togg {
  border: 2px solid #fff;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 18px;
  margin-bottom: 5px;
}
#sdg #detail-page .goal-header a span.img-txt,
#sdg-editor #detail-page .goal-header a span.img-txt {
  color: #fff;
  font: 9pt;
}
#sdg #detail-page .goal-header a.collapse span.img-togg,
#sdg-editor #detail-page .goal-header a.collapse span.img-togg {
  background-image: url('./img/ico-minus.png');
}
#sdg #detail-page .goal-header a.expand span.img-togg,
#sdg-editor #detail-page .goal-header a.expand span.img-togg {
  background-image: url('./img/ico-plus.png');
}
#sdg #detail-page .goal-header::after,
#sdg-editor #detail-page .goal-header::after {
  content: "";
  display: block;
  clear: both;
}
#sdg #detail-page .target-content .header,
#sdg-editor #detail-page .target-content .header {
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
#sdg #detail-page .target-content .header a,
#sdg-editor #detail-page .target-content .header a {
  background-repeat: no-repeat;
  background-position: center center;
  height: 25px;
  width: 25px;
  position: relative;
  top: 28px;
}
#sdg #detail-page .target-content .header a.collapse,
#sdg-editor #detail-page .target-content .header a.collapse {
  background-image: url('./img/ico-minus.png');
}
#sdg #detail-page .target-content .header a.expand,
#sdg-editor #detail-page .target-content .header a.expand {
  background-image: url('./img/ico-plus.png');
}
#sdg #detail-page .target-content .header .title,
#sdg-editor #detail-page .target-content .header .title {
  font: bold 10.5pt 'PT Serif', Calibri, Gill Sans, Calibri Light, Tahoma;
  margin-left: 45px;
}
#sdg #detail-page .target-content .items,
#sdg-editor #detail-page .target-content .items {
  display: none;
}
#sdg #detail-page .target-content .items .item,
#sdg-editor #detail-page .target-content .items .item {
  background-color: #f5f5f5;
  padding: 10px 20px;
  display: table;
  width: 92%;
  border-spacing: 5px;
}
#sdg #detail-page .target-content .items .item:nth-child(even),
#sdg-editor #detail-page .target-content .items .item:nth-child(even) {
  background-color: #fff;
}
#sdg #detail-page .target-content .items .item .name,
#sdg-editor #detail-page .target-content .items .item .name {
  font-size: 9pt;
  display: inline-block;
}
#sdg #detail-page .target-content .items .item .country-data,
#sdg-editor #detail-page .target-content .items .item .country-data {
  font: bold 9pt 'PT Serif', Calibri, Gill Sans, Calibri Light, Tahoma;
  text-decoration: none;
  color: #000;
  display: inline-block;
  margin-left: 50px;
}
#sdg #detail-page .target-content .items .item .table-column,
#sdg-editor #detail-page .target-content .items .item .table-column {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}
#sdg #detail-page .target-content .items .item .table-column.desc,
#sdg-editor #detail-page .target-content .items .item .table-column.desc {
  width: 35%;
  text-align: left;
}
#sdg #detail-page .target-content .items .item .table-column.edit,
#sdg-editor #detail-page .target-content .items .item .table-column.edit {
  width: 10%;
}
#sdg #detail-page .target-content .items .item .browse-data,
#sdg-editor #detail-page .target-content .items .item .browse-data {
  color: #fff;
  font: bold 9pt 'PT Serif', Calibri, Gill Sans, Calibri Light, Tahoma;
  background-color: #478bca;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
}
#sdg #detail-page .target-content .items .item .meta-data,
#sdg-editor #detail-page .target-content .items .item .meta-data {
  color: #fff;
  font: bold 9pt 'PT Serif', Calibri, Gill Sans, Calibri Light, Tahoma;
  background-color: #47cac5;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
}
#sdg #detail-page .target-content .items .item .sdmx,
#sdg-editor #detail-page .target-content .items .item .sdmx {
  color: #fff;
  font: bold 9pt 'PT Serif', Calibri, Gill Sans, Calibri Light, Tahoma;
  background-color: #47cac5;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
}
#sdg #detail-page .target-content .items .item .edit-data,
#sdg-editor #detail-page .target-content .items .item .edit-data {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#sdg #detail-page .target-content .items .item.level-2,
#sdg-editor #detail-page .target-content .items .item.level-2 {
  padding-left: 5%;
}
#sdg #detail-page .target-content .items .item.level-2 .table-column.desc,
#sdg-editor #detail-page .target-content .items .item.level-2 .table-column.desc {
  width: 30%;
}
#sdg #detail-page .target-content .items .item.level-3,
#sdg-editor #detail-page .target-content .items .item.level-3 {
  padding-left: 10%;
  width: 87%;
}
#sdg #detail-page .target-content .items .item.level-3 .table-column.desc,
#sdg-editor #detail-page .target-content .items .item.level-3 .table-column.desc {
  width: 24.5%;
}
#sdg #detail-page .target-content .items .item.level-4,
#sdg-editor #detail-page .target-content .items .item.level-4 {
  padding-left: 15%;
  width: 82%;
}
#sdg #detail-page .target-content .items .item.level-4 .table-column.desc,
#sdg-editor #detail-page .target-content .items .item.level-4 .table-column.desc {
  width: 19.5%;
}
#sdg #detail-page.goal-1 .goal-header,
#sdg-editor #detail-page.goal-1 .goal-header {
  background-color: #E5233D;
}
#sdg #detail-page.goal-1 .goal-header .img,
#sdg-editor #detail-page.goal-1 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/5rznj2ye.png');
}
#sdg #detail-page.goal-1 .target-content .header,
#sdg-editor #detail-page.goal-1 .target-content .header {
  border-bottom: 2px solid #E5233D;
}
#sdg #detail-page.goal-1 .target-content .header a,
#sdg-editor #detail-page.goal-1 .target-content .header a {
  display: inline-block;
  background-color: #E5233D;
}
#sdg #detail-page.goal-2 .goal-header,
#sdg-editor #detail-page.goal-2 .goal-header {
  background-color: #DDA73A;
}
#sdg #detail-page.goal-2 .goal-header .img,
#sdg-editor #detail-page.goal-2 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/hatkcc2c.png');
}
#sdg #detail-page.goal-2 .target-content .header,
#sdg-editor #detail-page.goal-2 .target-content .header {
  border-bottom: 2px solid #DDA73A;
}
#sdg #detail-page.goal-2 .target-content .header a,
#sdg-editor #detail-page.goal-2 .target-content .header a {
  display: inline-block;
  background-color: #DDA73A;
}
#sdg #detail-page.goal-3 .goal-header,
#sdg-editor #detail-page.goal-3 .goal-header {
  background-color: #4CA146;
}
#sdg #detail-page.goal-3 .goal-header .img,
#sdg-editor #detail-page.goal-3 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/u5sxyz50.png');
}
#sdg #detail-page.goal-3 .target-content .header,
#sdg-editor #detail-page.goal-3 .target-content .header {
  border-bottom: 2px solid #4CA146;
}
#sdg #detail-page.goal-3 .target-content .header a,
#sdg-editor #detail-page.goal-3 .target-content .header a {
  display: inline-block;
  background-color: #4CA146;
}
#sdg #detail-page.goal-4 .goal-header,
#sdg-editor #detail-page.goal-4 .goal-header {
  background-color: #C7212F;
}
#sdg #detail-page.goal-4 .goal-header .img,
#sdg-editor #detail-page.goal-4 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/p4jujbim.png');
}
#sdg #detail-page.goal-4 .target-content .header,
#sdg-editor #detail-page.goal-4 .target-content .header {
  border-bottom: 2px solid #C7212F;
}
#sdg #detail-page.goal-4 .target-content .header a,
#sdg-editor #detail-page.goal-4 .target-content .header a {
  display: inline-block;
  background-color: #C7212F;
}
#sdg #detail-page.goal-5 .goal-header,
#sdg-editor #detail-page.goal-5 .goal-header {
  background-color: #EE402D;
}
#sdg #detail-page.goal-5 .goal-header .img,
#sdg-editor #detail-page.goal-5 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/zehgoql5.png');
}
#sdg #detail-page.goal-5 .target-content .header,
#sdg-editor #detail-page.goal-5 .target-content .header {
  border-bottom: 2px solid #EE402D;
}
#sdg #detail-page.goal-5 .target-content .header a,
#sdg-editor #detail-page.goal-5 .target-content .header a {
  display: inline-block;
  background-color: #EE402D;
}
#sdg #detail-page.goal-6 .goal-header,
#sdg-editor #detail-page.goal-6 .goal-header {
  background-color: #28BFE6;
}
#sdg #detail-page.goal-6 .goal-header .img,
#sdg-editor #detail-page.goal-6 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/gl210ujw.png');
}
#sdg #detail-page.goal-6 .target-content .header,
#sdg-editor #detail-page.goal-6 .target-content .header {
  border-bottom: 2px solid #28BFE6;
}
#sdg #detail-page.goal-6 .target-content .header a,
#sdg-editor #detail-page.goal-6 .target-content .header a {
  display: inline-block;
  background-color: #28BFE6;
}
#sdg #detail-page.goal-7 .goal-header,
#sdg-editor #detail-page.goal-7 .goal-header {
  background-color: #FBC412;
}
#sdg #detail-page.goal-7 .goal-header .img,
#sdg-editor #detail-page.goal-7 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/n0a3qrqq.png');
}
#sdg #detail-page.goal-7 .target-content .header,
#sdg-editor #detail-page.goal-7 .target-content .header {
  border-bottom: 2px solid #FBC412;
}
#sdg #detail-page.goal-7 .target-content .header a,
#sdg-editor #detail-page.goal-7 .target-content .header a {
  display: inline-block;
  background-color: #FBC412;
}
#sdg #detail-page.goal-8 .goal-header,
#sdg-editor #detail-page.goal-8 .goal-header {
  background-color: #A31D44;
}
#sdg #detail-page.goal-8 .goal-header .img,
#sdg-editor #detail-page.goal-8 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/wvrter33.png');
}
#sdg #detail-page.goal-8 .target-content .header,
#sdg-editor #detail-page.goal-8 .target-content .header {
  border-bottom: 2px solid #A31D44;
}
#sdg #detail-page.goal-8 .target-content .header a,
#sdg-editor #detail-page.goal-8 .target-content .header a {
  display: inline-block;
  background-color: #A31D44;
}
#sdg #detail-page.goal-9 .goal-header,
#sdg-editor #detail-page.goal-9 .goal-header {
  background-color: #F26A2E;
}
#sdg #detail-page.goal-9 .goal-header .img,
#sdg-editor #detail-page.goal-9 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/bdq1aech.png');
}
#sdg #detail-page.goal-9 .target-content .header,
#sdg-editor #detail-page.goal-9 .target-content .header {
  border-bottom: 2px solid #F26A2E;
}
#sdg #detail-page.goal-9 .target-content .header a,
#sdg-editor #detail-page.goal-9 .target-content .header a {
  display: inline-block;
  background-color: #F26A2E;
}
#sdg #detail-page.goal-10 .goal-header,
#sdg-editor #detail-page.goal-10 .goal-header {
  background-color: #DE1768;
}
#sdg #detail-page.goal-10 .goal-header .img,
#sdg-editor #detail-page.goal-10 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/i1fjdq4h.png');
}
#sdg #detail-page.goal-10 .target-content .header,
#sdg-editor #detail-page.goal-10 .target-content .header {
  border-bottom: 2px solid #DE1768;
}
#sdg #detail-page.goal-10 .target-content .header a,
#sdg-editor #detail-page.goal-10 .target-content .header a {
  display: inline-block;
  background-color: #DE1768;
}
#sdg #detail-page.goal-11 .goal-header,
#sdg-editor #detail-page.goal-11 .goal-header {
  background-color: #F89D2A;
}
#sdg #detail-page.goal-11 .goal-header .img,
#sdg-editor #detail-page.goal-11 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/el4mmfxe.png');
}
#sdg #detail-page.goal-11 .target-content .header,
#sdg-editor #detail-page.goal-11 .target-content .header {
  border-bottom: 2px solid #F89D2A;
}
#sdg #detail-page.goal-11 .target-content .header a,
#sdg-editor #detail-page.goal-11 .target-content .header a {
  display: inline-block;
  background-color: #F89D2A;
}
#sdg #detail-page.goal-12 .goal-header,
#sdg-editor #detail-page.goal-12 .goal-header {
  background-color: #BF8D2C;
}
#sdg #detail-page.goal-12 .goal-header .img,
#sdg-editor #detail-page.goal-12 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/v5bjyqb3.png');
}
#sdg #detail-page.goal-12 .target-content .header,
#sdg-editor #detail-page.goal-12 .target-content .header {
  border-bottom: 2px solid #BF8D2C;
}
#sdg #detail-page.goal-12 .target-content .header a,
#sdg-editor #detail-page.goal-12 .target-content .header a {
  display: inline-block;
  background-color: #BF8D2C;
}
#sdg #detail-page.goal-13 .goal-header,
#sdg-editor #detail-page.goal-13 .goal-header {
  background-color: #407F46;
}
#sdg #detail-page.goal-13 .goal-header .img,
#sdg-editor #detail-page.goal-13 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/h3whojiv.png');
}
#sdg #detail-page.goal-13 .target-content .header,
#sdg-editor #detail-page.goal-13 .target-content .header {
  border-bottom: 2px solid #407F46;
}
#sdg #detail-page.goal-13 .target-content .header a,
#sdg-editor #detail-page.goal-13 .target-content .header a {
  display: inline-block;
  background-color: #407F46;
}
#sdg #detail-page.goal-14 .goal-header,
#sdg-editor #detail-page.goal-14 .goal-header {
  background-color: #1F97D4;
}
#sdg #detail-page.goal-14 .goal-header .img,
#sdg-editor #detail-page.goal-14 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/lbbe2lx3.png');
}
#sdg #detail-page.goal-14 .target-content .header,
#sdg-editor #detail-page.goal-14 .target-content .header {
  border-bottom: 2px solid #1F97D4;
}
#sdg #detail-page.goal-14 .target-content .header a,
#sdg-editor #detail-page.goal-14 .target-content .header a {
  display: inline-block;
  background-color: #1F97D4;
}
#sdg #detail-page.goal-15 .goal-header,
#sdg-editor #detail-page.goal-15 .goal-header {
  background-color: #59BA47;
}
#sdg #detail-page.goal-15 .goal-header .img,
#sdg-editor #detail-page.goal-15 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/ny1uhisq.png');
}
#sdg #detail-page.goal-15 .goal-header .text,
#sdg-editor #detail-page.goal-15 .goal-header .text {
  top: 16px;
}
#sdg #detail-page.goal-15 .target-content .header,
#sdg-editor #detail-page.goal-15 .target-content .header {
  border-bottom: 2px solid #59BA47;
}
#sdg #detail-page.goal-15 .target-content .header a,
#sdg-editor #detail-page.goal-15 .target-content .header a {
  display: inline-block;
  background-color: #59BA47;
}
#sdg #detail-page.goal-16 .goal-header,
#sdg-editor #detail-page.goal-16 .goal-header {
  background-color: #136A9F;
}
#sdg #detail-page.goal-16 .goal-header .img,
#sdg-editor #detail-page.goal-16 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/xgb3adnc.png');
}
#sdg #detail-page.goal-16 .goal-header .text,
#sdg-editor #detail-page.goal-16 .goal-header .text {
  top: 16px;
}
#sdg #detail-page.goal-16 .target-content .header,
#sdg-editor #detail-page.goal-16 .target-content .header {
  border-bottom: 2px solid #136A9F;
}
#sdg #detail-page.goal-16 .target-content .header a,
#sdg-editor #detail-page.goal-16 .target-content .header a {
  display: inline-block;
  background-color: #136A9F;
}
#sdg #detail-page.goal-17 .goal-header,
#sdg-editor #detail-page.goal-17 .goal-header {
  background-color: #14496B;
}
#sdg #detail-page.goal-17 .goal-header .img,
#sdg-editor #detail-page.goal-17 .goal-header .img {
  background-image: url('//th.knoema.com/production/images/1007550/o3wxenkz.png');
}
#sdg #detail-page.goal-17 .target-content .header,
#sdg-editor #detail-page.goal-17 .target-content .header {
  border-bottom: 2px solid #14496B;
}
#sdg #detail-page.goal-17 .target-content .header a,
#sdg-editor #detail-page.goal-17 .target-content .header a
{
	display: inline-block;
	background-color: #14496B;
}
/*sdg: end*/

/*portfolio: start*/
.tab-content.portfolio
{
	background-color: #f4ece1;
}

.tab-content.portfolio h1
{
	margin: 15px 25px;
	font-size: 14pt;
	color: #472001;
	text-transform: uppercase;
	background-color: #f4ece1;
}

.icon-contianer
{
	margin: 10px 20px;
}

.icon-contianer .icon-item
{
	color: #fff;
	display: inline-block;
	background-color: #9e7f53;
	text-align: center;
	padding: 15px 10px 0 10px;
	margin: 5px;
	cursor: pointer;
}

.icon-contianer .icon-item img
{
	display: block;
	margin-top: 10px;
}

.icon-contianer .icon-item.active
{
	background-color: #472001;
}

.content-container
{
	border-top: 1px solid #e0d2bf;
	margin: -19px 20px;
	padding: 20px 5px;

}
.content-container .left-part
{
	display: inline-block;
	width: 300px;
}
.content-container .right-part
{
	margin-left: 100px;
	display: inline-block;
	vertical-align: top;
}
.content-container h2
{
	font-size: 12pt;
	font-weight: bold;
	margin-top: 0px;
}

.content-container ul
{
	margin: 0;
	padding: 0;
}
.content-container ul li
{
	list-style-type: none;
	padding: 3px 10px;
	color: #472001;
	cursor: pointer;
}
.content-container ul li.active
{
	background-color: #472001;
	color: #fff;
}
/*portfolio: end*/

.tab-content.gstand
{
	overflow-y: scroll;
}
.tab-content.gstand h1
{
	display: block;
	width: 910px;
	margin: 10px auto 10px;
	background-color: #9e7f53;
	font-size: 16pt;
	color: #fff;
	padding: 10px 20px;
}
