html
{
	overflow: hidden;
}

body
{
	margin: 0;
	padding: 0;
}

#landing
{
	background: url('../img/landing/bg.png') no-repeat;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

	#landing .coat
	{
		width: 120px;
		height: 141px;
		background: url('../img/landing/coat.png') no-repeat;
		display: inline-block;
		margin-top: 130px;
	}

	#landing .logo
	{
		width: 295px;
		height: 95px;
		background: url('../img/landing/logo.png') no-repeat;
		display: inline-block;
		margin-top: 60px;
	}

	#landing .flag
	{
		width: 99px;
		height: 78px;
		background: url('../img/landing/flag.png') no-repeat;
		display: inline-block;
		margin-top: 35px;
	}

	#landing .buttons
	{
		margin-top: 55px;
	}

		#landing .buttons .button
		{
			width: 280px;
			height: 120px;
			line-height: 120px;
			background: url('../img/landing/btn.png') no-repeat;
			display: inline-block;
			text-transform: uppercase;
			font: bold 22pt 'Roboto Condensed', sans-serif;
			color: #164914;
			margin-left: 15px;
			vertical-align: top;
			cursor: pointer;
		}

			#landing .buttons .button span
			{
				vertical-align: middle;
				position: relative;
				top: 30px;
			}

			#landing .buttons .button.overview span
			{
				top: 28px;
			}

			#landing .buttons .button .img
			{
				display: inline-block;
				background-repeat: no-repeat;
				margin-right: 15px;
				position: relative;
			}

			#landing .buttons .button.overview .img
			{
				width: 58px;
				height: 59px;
				background: url('../img/landing/ico01.png');
			}

			#landing .buttons .button.dashboards .img
			{
				width: 64px;
				height: 53px;
				background: url('../img/landing/ico02.png');
			}

			#landing .buttons .button.statistics .img
			{
				width: 64px;
				height: 53px;
				background: url('../img/landing/ico03.png');
			}

#container
{
	display: none;
}

#header
{
	height: 70px;
	background: url('../img/head_bg.png');
	background-size: 100% 100%;
}

#title
{
	float: left;
	width: 210px;
	height: 26px;
	background: url('../img/logo.png');
	margin: 22px;
	cursor: pointer;
}

#tabs
{
	float: right;
}

	#tabs .divider
	{
		display: inline-block;
		width: 2px;
		height: 70px;
		background-position: left center;
		background: url('../img/head_divider_menu.png') no-repeat;
	}

	#tabs .tab
	{
		display: inline-block;
		font: bold 13pt 'Roboto Condensed', sans-serif;
		color: #fff770;
		text-align: center;
		text-transform: uppercase;
		width: 185px;
		height: 70px;
		padding-top: 20px;
		padding-bottom: 20px;
		cursor: pointer;
		position: relative;
		top: -31px;
	}

		#tabs .tab .img
		{
			display: inline-block;
			background-position: left center;
			background-repeat: no-repeat;
			vertical-align: middle;
			margin-right: 20px;
		}

		#tabs .tab:hover, #tabs .tab.selected
		{
			background-color: #084906;
		}

		#tabs .tab .img.overview
		{
			width: 29px;
			height: 29px;
			background: url('../img/ico-country-overview.png');
		}

		#tabs .tab .img.dashboards, #tabs .tab .img.statistics
		{
			width: 32px;
			height: 26px;
		}

		#tabs .tab .img.dashboards
		{
			background: url('../img/ico-dashboards.png');
		}

		#tabs .tab .img.statistics
		{
			background: url('../img/ico-statistics.png');
		}

#content
{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin-top: 70px;
	background: gray;
	overflow: auto;
}

	#content .overview, #content .dashboards, #content .statistics
	{
		display: none;
	}

	#content .selected
	{
		height: 100%;
		display: block;
	}

	#content .overview.selected iframe, #content .statistics.selected iframe
	{
		height: 100%;
		width: 100%;
	}

	#content .statistics.selected iframe
	{
		margin-top: -66px;
		height: 1600px;
	}

	#content .dashboards.selected iframe
	{
		height: 1909px;
		width: 100%;
	}

#site-header, #kn-social-bar
{
	display: none;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2ppx), only screen and (min-device-pixel-ratio: 2)
{
	#header
	{
		background: url('../img/head_bg@2x.png');
		background-size: cover;
	}

	#landing
	{
		background: url('../img/landing/bg.png-x2');
		background-size: cover;
	}

		#landing .coat
		{
			background: url('../img/landing/coat.png-x2');
			background-size: cover;
		}

		#landing .logo
		{
			background: url('../img/landing/logo.png-x2');
			background-size: cover;
		}

		#landing .flag
		{
			background: url('../img/landing/flag.png-x2');
			background-size: cover;
		}

		#landing .buttons .button
		{
			background: url('../img/landing/btn.png-x2');
			background-size: cover;
		}

			#landing .buttons .button.overview .img
			{
				background: url('../img/landing/ico01-x2.png');
				background-size: cover;
			}

			#landing .buttons .button.dashboards .img
			{
				background: url('../img/landing/ico02-x2.png');
				background-size: cover;
			}

			#landing .buttons .button.statistics .img
			{
				background: url('../img/landing/ico03-x2.png');
				background-size: cover;
			}

	#title
	{
		background: url('../img/logo@2x.png');
		background-size: cover;
	}

	#tabs .divider
	{
		background: url('../img/head_divider_menu@2x.png');
		background-size: cover;
	}

	#tabs .tab .img.overview
	{
		background: url('../img/ico-country-overview@2x.png');
		background-size: cover;
	}

	#tabs .tab .img.dashboards
	{
		background: url('../img/ico-dashboards@2x.png');
		background-size: cover;
	}

	#tabs .tab .img.statistics
	{
		background: url('../img/ico-statistics@2x.png');
		background-size: cover;
	}
}
