<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
            ${data['Name of facility']}
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-2">
                <img src="img/facility.png" alt="${data['Name of facility']}" class="img-thumbnail pull-left facility-img" />
            </div>
            <div class="col-xs-10">
                <!--<pre>${JSON.stringify(data, null, 2)}</pre>-->
                <dl class="dl-horizontal facility-general-info">
                    <dt>Facility name:</dt>
                    <dd>${data['Name of facility']}</dd>

                    <dt>Facility type:</dt>
                    <dd>${data['Facility type']}</dd>

                    <dt>Location:</dt>
                    <dd>${data['Location of facility']}</dd>

                    <dt>Area:</dt>
                    <dd>${data['Location']}</dd>

                    <dt>Sector:</dt>
                    <dd>${data['Sector']}</dd>

                    {{if layerId == 'dc3bfd66-3fc5-34dd-9523-704ba9f8df03'}}
                        <dt>Medicine Availability:</dt>
                        <dd>
                            <span class="circle ${data['Medicine Availability']}">&#x25cf;&nbsp;</span> ${data['Medicine Availability']}
                        </dd>
                    {{/if}}

                    <dt>NCD-SARA Composite<br />Score 2013:</dt>
                    {{if layerId == 'dc3bfd66-3fc5-34dd-9523-704ba9f8df03'}}
                        <dd>
                            <br />
                            <!--0-2 red(#DC040A), 3-6 yellow (#EFC607), 7-10 green(#12A80D)-->
                            <span class="circle" style="color: ${(data['NCD-SARA 2013 Score'] >= 7 ? 'green' : (data['NCD-SARA 2013 Score'] >= 3 ? '#EFC607' : 'red'))}">&#x25cf;&nbsp;</span>${data['NCD-SARA 2013 Score']}
                        </dd>
                    {{else}}
                        <dd>
                            <br />
                            <span class="circle ${data['Medicine Availability']}">&#x25cf;&nbsp;</span>${data['NCD-SARA Composite Score Value unchanged']}
                        </dd>
                    {{/if}}

                    <dt>Nearest hospital:</dt>
                    <dd>${distance}</dd>
                </dl>
            </div>
        </div>
        <div class="row available-drugs">
            <div class="col-xs-12">
                {{if layerId == 'dc3bfd66-3fc5-34dd-9523-704ba9f8df03'}}
                    <h5>
                        Available Inventory and Prices
                    </h5>
                {{else}}
                    <h5>
                        AVAILABLE ESSENTIAL MEDICINE INVENTORY
                    </h5>
                {{/if}}

                <div class="row">
                    <div class="col-xs-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    {{each(i, listItem) drugList}}
                        <div class="col-xs-4">
                            <strong>
                                ${listItem.disease}
                            </strong>
                            <ul>
                                {{each(j, drug) listItem.drugs}}
                                    {{if layerId == 'dc3bfd66-3fc5-34dd-9523-704ba9f8df03'}}
                                        <li>
                                            <i class="glyphicon ${drug.isAvailable ? 'glyphicon-ok' : 'glyphicon-remove'}"></i> ${drug.displayName}
                                            <span class="drug-price pull-right">${typeof drug.price !== 'undefined' ? (drug.price == 0 ? 'Free' : drug.price + ' USh') : ''}</span>
                                        </li>
                                    {{else}}
                                        <li>
                                            <i class="glyphicon ${drug.isAvailable ? 'glyphicon-ok' : 'glyphicon-remove'}"></i> ${drug.displayName}
                                        </li>
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{if layerId === 'dc3bfd66-3fc5-34dd-9523-704ba9f8df03'}}
            <div class="row">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h5>Medication prices</h5>
                    <p class="notice">
                        {{if layerId != 'dc3bfd66-3fc5-34dd-9523-704ba9f8df03'}}
                            For more details see <a href="#">Pharmacy Prices Datasheet</a>.
                        {{/if}}
                        To compare prices in th region use <a href="#" class="prices-comparison-tool" data-dismiss="modal">Prices Comparison Tool</a>
                    </p>
                </div>
            </div>
        {{/if}}
    </div>
</div>