<div class="filter-section ${className}">
    <h5>
        ${header}
        {{if className == 'ncd-sara-composite-score' || className == 'facility-type'}}
            &nbsp;&nbsp;<i data-toggle="tooltip" data-placement="right" class="glyphicon glyphicon-info-sign" title="${tooltipContent}"></i>
        {{/if}}
    </h5>
    {{each(i, item) items}}
        <div class="checkbox">
            <label>
                <input class="filter" type="checkbox" data-dimension="${header}" value="${item.name}">
                <span class="circle ${item.name}">{{if className == 'ncd-sara-composite-score'}}&#x25cf;&nbsp;{{/if}}</span> ${typeof item.displayName === 'undefined' ? item.name : item.displayName}
            </label>
            <a href="${datasetUrl}" class="source-link" target="_blank" title="Open source dataset in new window">
                <i class="glyphicon glyphicon-new-window"></i>
            </a>
        </div>
    {{/each}}
</div>