/*=========================================================================================*/
/*=========================================================================================*/
/*=========================================================================================*/
body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    overflow: hidden;
}

.map-and-timeline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 400px;
    right: 0;
}

#map-container {
    position: absolute;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
    background-color: #efefef;
}

#timeline {
    height: 60px;
    background-color: #245b13;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.time-members-holder {
    width: 0;/*Will be changed in onResize method*/
    overflow: hidden;
    height: 60px;
}
.time-members {
    background-color: #245b13;
    font-weight: bold;
    position: relative;
    left: 50px;
}
.time-member {
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: white;
    background-color: #36861e;

    -webkit-box-shadow: inset 0px 0px 26px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 26px -5px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 26px -5px rgba(0,0,0,0.75);

    display: table-cell;
    min-width: 100px;
    width: 100px;
}

.time-member.active {
    background-color: white;
    color: #245b13;
}

.time-member:hover {
    background-color: #efefef;
    color: #245b13;
}
.time-member:first-child {
    margin-left: 50px;
}
.time-member:hover, .time-member:active, .time-member:focus {
    text-decoration: none;
}

.slide-control {
    width: 50px;
    position: absolute;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    z-index: 1000;
}

.slide-control:hover, .slide-control:focus, .slide-control:active {
    text-decoration: none;
    color: #efefef;
}

@keyframes shake {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-5px,0,0);
        transform: translate3d(-5px,0,0)
    }

    20%,40%,60%,80% {
        -webkit-transform: translate3d(5px,0,0);
        transform: translate3d(5px,0,0)
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake
}

.slide-control .glyphicon {
    line-height: 60px;
    height: 60px;
    display: inline;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-delay: 1s;
    animation-delay: 1s;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/*
#yourElement {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}
*/

.slide-control-left {
    left: 0;
    background-color: #245b13;
    color: white;
}
.slide-control-right {
    right: 0;
    background-color: #245b13;
    color: white;
}

#side-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px
}

#side-bar .logo-container {
    width: 100%;
    height: 100px;
    background: url(../img/bg-head-right-pic-x2.jpg) no-repeat;
    background-size: cover;
}

#side-bar .logo-container img {
    margin: 10px;
    width: 170px;
}
#side-bar .logo-container a {
    background-image: url(../img/logo.png);
    width: 170px;
    height: 100px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.title-section {
    padding: 20px;
    background-color: #f5f3f3;
}

.title-section h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #245b13;
    display: inline-block;
    margin: 0;
}

.title-section .clear-filters {
    background-color: #245b13;
    color: #fff;
    text-transform: uppercase;
}

/*=========================================================================================*/
/*=========================================================================================*/
/*=========================================================================================*/

#top-map-buttons {
    position: absolute;
    left: 420px;
    top: 20px;
}

#regional-division-map-switcher {
    margin-right: 10px;
}

#regional-division-modal-switcher {
    top: 35%;
}

div.dropdown-holder {
    /*float: right;*/
    margin-top: 10px;
    background-color: white;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 34px;
    width: 363px;
    font-family: 'Roboto', sans-serif;
}
div.dropdown-holder label {
    margin-right: 10px;
    font-size: 0.9em;
}
div.dropdown-holder .bootstrap-select {
    margin-top: -1px;
    margin-right: -3px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 260px;
}

#regional-division-modal-switcher .regional-division-buttons {
    margin: 0 auto;
    text-align: center;
}

#regional-division-modal-switcher .regional-division-buttons a {
    display: inline-block;
    width: 120px;
    height: 120px;
    text-decoration: none;
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    background-repeat: no-repeat;
    background-position: center center;
    color: #000;
    font-weight: bold;
    line-height: 200px;
}

#regional-division-modal-switcher .regional-division-buttons a:hover {
    border-color: #245b13;
    background-color: white;
}
#regional-division-modal-switcher .regional-division-buttons a {
    background-repeat: no-repeat;
    background-size: contain;
}
#regional-division-modal-switcher .regional-division-buttons a.nationale {
    background-image: url("../img/01.png");
}
#regional-division-modal-switcher .regional-division-buttons a.region {
    background-image: url("../img/02.png");
}
#regional-division-modal-switcher .regional-division-buttons a.department {
    background-image: url("../img/03.png");
}
#regional-division-modal-switcher .regional-division-buttons a.communale {
    background-image: url("../img/04.png");
}



/*=================================== filters-tree ================================================*/
[class*=" level-"] {
    display: block;
    overflow: hidden;
}

.item-content {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item-content-level-0 {
    margin-left: 20px;
}

.item-content-level-1, .item-content-level-2 {
    margin-left: 20px;
}

.item-title {
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: left;
    color: #245b13;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
.item-title:hover, .item-title:focus {
    color: #3a8e20;
}

span.item-title {
    color: gray;
    background-image: url(../img/icon-expand-x2.png);
}
span.item-title:hover {
    color: gray;
    cursor: default;
}

.item-title-0 {
    font-size: 1.1em;
    text-transform: uppercase;
    padding-left: 40px;
    line-height: 3.5em;
    background-repeat: no-repeat;
    background-position: left;
    color: #245b13;
    font-weight: bold;
}
.item-title-0:hover, .item-title-0:focus {
    text-decoration: none;
    color: #3a8e20;
}

.item-title {
    line-height: 1.6em;
    text-decoration: none!important;
    margin-bottom: 15px;
    padding-left: 30px;
    background-image: url(../img/icon-collapse-x2.png);
    background-position: left -3px;
}
.item-title.collapsed {
    background-image: url(../img/icon-expand-x2.png);
}
.no-children {
    background-image: none;
}

.item-holder, .item-holder label {
    cursor: pointer;
    width: 90%;
}

.item-holder:hover .dataset-link {
    display: inline-block;
}

.item-holder > label {
    padding-left: 10px;
}

.dataset-link {
    display: none;
    float: right;
    color: gray;
    font-size: 0.8em;
}
.dataset-link:hover {
    color: green;
}




.panel-group .panel+.panel {
    /*margin-top: -1px;*/
}

.panel-heading {
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-group .panel {
    border-radius: 0;
}

.panel {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #cecece;
}

.panel-body {
    overflow: hidden;
}

.infrastructures {
    background-image: url('../img/icon-01.png');
}
.climate {
    background-image: url('../img/icon-02.png');
}
.elections {
    background-image: url('../img/icon-03.png');
}

.zone-de-ville {
    background-image: url('../img/icon-04.png');
}

.politics {
    background-image: url('../img/icon-03.png');
}

.mCSB_dragger_bar {
    background-color: #245b13!important;
}
/*=================================== filters-tree ================================================*/


/*===================================================================================*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2 ppx), only screen and (min-device-pixel-ratio: 2) {
    #regional-division-modal-switcher .regional-division-buttons a.nationale {
        background-image: url("../img/01-x2.png");
    }
    #regional-division-modal-switcher .regional-division-buttons a.region {
        background-image: url("../img/02-x2.png");
    }
    #regional-division-modal-switcher .regional-division-buttons a.department {
        background-image: url("../img/03-x2.png");
    }
    #regional-division-modal-switcher .regional-division-buttons a.communale {
        background-image: url("../img/04-x2.png");
    }

    .infrastructures {
        background-image: url('../img/icon-01-x2.png');
    }
    .climate {
        background-image: url('../img/icon-02-x2.png');
    }
    .elections {
        background-image: url('../img/icon-03-x2.png');
    }
    .zone-de-ville {
        background-image: url('../img/icon-04-x2.png');
    }
    .politics {
        background-image: url('../img/icon-03-x2.png');
    }

    #side-bar .logo-container a {
        background-image: url(../img/logo-x2.png);
    }
    .export-button {
        background-image: url(../img/ico-pdf-x2.png);
    }
}
/*===================================================================================*/

.item-content.item-content-level-0 {
    /*uncomment to see junk on collapse*/
    /*TODO Try add proper markup (.panel)*/
    /*background-color: grey;*/
}





/*==============================   #right-side-bar   ==============================*/
#right-side-bar {
    background-color: #f5f5f5;
    border-left: 1px solid #cecece;
    position: absolute;
    width: 400px;
    top: 0;
    z-index: 1000;
    right: -420px;
    padding: 10px;
    overflow: hidden;

    font-size: 0.7em;
}
#right-side-bar .close {
    float: right;
}
#right-side-bar .header {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.7em;
    text-align: center;
}

table {
    width: 100%;
    font-size: 1.4em;
}

table td, table th {
    padding: 10px 0;
    white-space: nowrap;
}

table td, table th {
    text-align: right;
}
table td:first-child, table th:first-child {
    text-align: left;
}

table thead tr:nth-of-type(odd) {
    background-color: #ebebeb;
}

table tr:nth-of-type(odd) {
    background-color: white;
}
table tr:nth-of-type(even) {
    background-color: #ebebeb;
}

#right-side-bar .fa-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    color: #cecece;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
/*==============================   #right-side-bar   ==============================*/

.map-and-timeline .loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 1000000;
}
.map-and-timeline .loading .fa-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    color: white;
}

.export-button {
    width: 27px;
    height: 27px;
    display: inline-block;
    margin-left: 20px;
    background-image: url(../img/ico-pdf.png);
}

#profile-modal .modal-dialog {
    margin: 30px auto;
    width: 80%!important;
    height: 80%!important;
}

#profile-modal-2 {
    position: absolute;
    z-index: 10;
    display: none;
    background-color: white;
}

#profile-modal-2 .close-modal-2 {
    padding: 5px 10px;
    cursor: pointer;
    padding: 10px;
}

#profile-modal-2 .close-modal-2:hover {
    color: #cecece;
}

#profile-modal-2 .header {
    background-color: #245b13;
    color: white;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 1.3em;
}

#map-legend-holder {
    position: absolute;
    z-index: 10;
    background-color: white;
    height: 42px;
    bottom: 100px;
    left: 20px;
    padding: 0 5px;
    display: none;
    font-family: 'Roboto', sans-serif;
}
.map-legend {
    display: table;
}
.map-legend-color-row {
    display: table-row;
}
.map-legend-cell {
    width: 40px;
    display: table-cell;
}
.map-legend-low {
    float: left;
    font-size: 0.8em;
}
.map-legend-height {
    float: right;
    font-size: 0.8em;
}
.color-cell {
    height: 10px;
    display: inline-block;
}


#view-profile {
    background-color: #245b13;
    color: white;
    margin: 0 auto;
    border-color: #245b13;
}

.info-window {
    font-family: 'Roboto', sans-serif;
}
.info-window__header {
    font-size: 16pt;
}
.info-window__content {
    font-size: 13pt;
}


.bootstrap-select {
    text-transform: lowercase;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text:first-letter {
    text-transform: uppercase;
}

.side-bar-content {
    overflow-x: auto;
    font-size: 0.8em;
}

.side-bar-content h4 {
    text-align: center;
    font-weight: bold;
    background-color: #C4D099;
    padding: 5px 0;
}

.side-bar-content h5 {
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
}

.complex-table tr:first-child {
    font-weight: bold;
}

#tooltip {
    background-color: white;
    position: absolute;
    min-height: 50px;
    z-index: 100000;
    display: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
}

.table-row-header-0 {
    /*background-color: red;*/
    /*it is "complex-table"'s header*/
}

[class*="table-row-header-"] {
    margin-left: 10px;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    line-height: 2em;
}
.table-row-header-1 {
    background-image: url("../img/education-x2.png");
}
.table-row-header-2 {
    background-image: url("../img/electricity-x2.png");
}
.table-row-header-3 {
    background-image: url("../img/health-x2.png");
}
.table-row-header-4 {
    background-image: url("../img/social-x2.png");
}
.table-row-header-5 {
    background-image: url("../img/water-x2.png");
}
.table-row-header-6 {
    background-image: url("../img/other-x2.png");
}