<div class="info-window">

    {{if title}}
    <div class="info-window__header">
        ${title}
    </div>
    {{/if}}

    {{if typeof content === 'string'}}
        ${Globalize.format(content)}
    {{else}}
        {{each(key, value) content}}
        <div class="info-window__content">
            <strong>${key}</strong>: ${Boolean(value) ? Globalize.format(value) : null}
        </div>
        {{/each}}
    {{/if}}

    {{if regionId}}
        <a href="#" class="show-fonctionnaires" data-region-id="${regionId}" onclick="app.showFonctionnaires('${regionId}')">
            Montrent les fonctionnaires
        </a>
    {{/if}}

</div>