<select id="select-region">
    <option value="not-selected" selected disabled style="color: #cecece;">
        Pas de Choix
    </option>
    {{each(i, region) regions}}
    <option
            data-name="${region.name}"
            data-region-id="${region.fields.regionid}"
            value="${region.key}"
            style="padding-left: ${region.level * 10 + 5}px; {{if region.level == 0 || region.level == 1}}background-color: rgb(230, 230, 230);{{/if}}{{if region.level < 3}}font-weight: bold;{{/if}}"
    >
        ${region.name}
    </option>
    {{/each}}
</select>
