<html>
	<head>
		<title>Which Countries Best Fit Your Values?</title>
		<style>
		@@font-face {
		  font-family: 'Roboto';
		  src: url('/Css/Roboto-Regular.ttf');
		}
		</style>
		<link rel="stylesheet" type="text/css" href="/Css/style.css"/>

		@RenderSection("SharingTags", false)

	</head>
	<body>
		
		@RenderBody()

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="/Scripts/dom-to-image.js"></script>
		<script src="/Scripts/script.js"></script>
	</body>
</html>