/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* =============================================================================
   HTML5 element display
   ========================================================================== */

/* :L94 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* :L95 */
audio[controls],
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

/* :L112 */
html {
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* :L114 */
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.231;
  overflow-y: scroll;
}
/* :L116 */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222222;
}
/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

/*
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
*/

/* =============================================================================
   Links
   ========================================================================== */

/* :L133 */
a {
  color: #0000ee;
}
/* :L134 */
a:visited {
  color: #551a8b;
}
/* :L135 */
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */

/* :L138 */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */

/* :L145 */
abbr[title] {
  border-bottom: 1px dotted;
}
/* :L147 */
b,
strong {
  font-weight: bold;
}
/* :L149 */
blockquote {
  margin: 1em 40px;
}
/* :L151 */
dfn {
  font-style: italic;
}
/* :L153 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
/* :L155 */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}
/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */

/* :L158 */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 0.8em;
}
/* Improve readability of pre-formatted text in all browsers */

/* :L161 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/* :L163 */
q {
  quotes: none;
}
/* :L164 */
q:before,
q:after {
  content: "";
  content: none;
}
/* :L166 */
small {
  font-size: 85%;
}
/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */

/* :L169 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* :L170 */
sup {
  top: -0.5em;
}
/* :L171 */
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */

/* :L178 */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
/* :L179 */
html[dir='rtl'] ul,
html[dir='rtl'] ol {
  padding: 0 40px 0 0;
}
/* :L180 */
dd {
  margin: 0 0 0 40px;
}
/* :L181 */
nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

/* :L193 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/*
 * Correct overflow displayed oddly in IE9 
 */

/* :L199 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */

/* :L208 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */

/* :L215 */
form {
  margin: 0;
}
/* :L216 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

/* :L223 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */

/* :L226 */
label {
  cursor: pointer;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

/* :L234 */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

/* :L241 */
button,
input {
  line-height: normal;
  *overflow: visible;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

/* :L248 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/*
 * Consistent box sizing and appearance
 */

/* :L254 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
/* :L255 */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

/* :L262 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Remove default vertical scrollbar in IE6/7/8/9 */

/* :L265 */
textarea {
  overflow: auto;
  vertical-align: top;
}
/* Colors for form validity */

/* :L268 */
/* :L269 */
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
/* =============================================================================
   Tables
   ========================================================================== */

/* :L276 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */

/* :L297 */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/* :L298 */
.ir br {
  display: none;
}
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */

/* :L302 */
.hidden {
  display: none;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */

/* :L306 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */

/* :L309 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */

/* :L312 */
.invisible {
  visibility: hidden;
}
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */

/* :L315 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
/* :L316 */
.clearfix:after {
  clear: both;
}
/* :L317 */
.clearfix {
  zoom: 1;
}
