/* :L85 */
/* :L87 */
#site-search.elastic-search input#search-server {
  background: url('../img/search_input_form2.png');
  vertical-align: top;
  border: 0;
  height: 39px;
  line-height: 39px;
  font: normal 16pt 'PT Sans', sans-serif;
  color: black;
  padding: 0 10px;
  width: 200px;
}
/* :L100 */
#site-search.elastic-search input#search-query {
  width: 790px;
}
/* :L105 */
.dim-name {
  display: inline-block;
}
/* :L107 */
.dim-name:after {
  content: ' — ';
}
/* :L111 */
.dim-name:last-child:after {
  content: none;
}
/* :L116 */
span.found-dimension a.dataset {
  max-width: none;
}
/* :L120 */
.dataset-result-description .search-metadata-value {
  max-height: 100px;
  text-overflow: ellipsis;
  position: relative;
  display: block;
  margin-top: .2em;
}

#search-settings {
	line-height: 1.8em;
}

#search-settings label {
	margin-right: 1em;
}

#search-settings input {
	vertical-align: baseline;
	position: relative;
	top: 1px;
}

.search-result-item {
	padding-bottom: 0;
}

.search-result-item ul {
	margin-top: .5em;
}

.search-result-item ul li {
	margin-bottom: .2em;
}

div.search-result-item div.dataset-result-metadata {
	line-height: 1.8em;
}

span.found-dimension.black a {
	max-width: none;
}

span.found-dimension.black a>span {
	text-decoration: underline;
}

div.search-result-item a.dataset-result-title:hover>span {
	text-decoration: underline;
}
